[2020-05-29 06:38] bosomt commented on #1025
same error with latest T1 RC
Error details: Encountered invalid prevhash

[2020-05-29 06:40] tsusanka commented on #1025
@sorooris you marked BTC sending as OK in the testing table, so you did not experience this? Could you try to reproduce @bosomt's bug?

[2020-05-29 09:49] sorooris commented on #1025
on it

[2020-05-29 10:28] #1022 closed

[2020-05-29 10:28] #1023 closed

[2020-05-29 12:14] tsusanka commented on #1025
@sorooris @bosomt could you please try out Litecoin as well?

[2020-05-29 12:17] wendys-cats commented on #1025
@tsusanka LTC tx on 2.3.1 is OK, used wallet on : https://mytrezor.corp.sldev.cz/baking-crocodile/development

[2020-05-29 12:22] tsusanka commented on #1025
Ok, so this seems to concern Zcash solely and is most likely a Wallet/Suite issue. I will contact the the Suite team.

[2020-05-29 12:40] bosomt commented on #1025
LTC transaction via suite OK

fw: RC3: revision: 5209804
suite revision: 30cb3eb4261cca9376e0a0cd92aeba7470ccb984

[2020-05-29 12:52] prusnak commented on #988
Push the design of the i18n-block + modtrezori18n prototype to the[`i18n-block`](https://github.com/trezor/trezor-firmware/tree/i18n-block) branch.

[2020-05-29 13:24] #988 closed

[2020-05-29 14:16] 1000101 commented on #1025
This could well be a problem with backends we are running. There have been some notable changes lately, we have bumped both backends to the same version a while ago (not latest, though). Could you please try it once again?

[2020-05-29 14:21] sorooris opened #1028 "Electrum - error during signing a BTC transaction"
Electrum 3.3.8
**Device**: TT 2.3.1 RC3, revision 5209804

**Steps to reproduce:**
1. navigate to the Send tab in Electrum
2. enter an arbitrary BTC address and amount; set any fee
3. confirm the Send button

**Expected result:**
Transaction is signed successfully.

**Actual result:**
Dialog with the following error is displayed: _b"U\x99\x11\xecJ\r%\xba\xe3\x91O\xc7$a\x15\xf3\xe1\xd3H%*\xda\x0b\x

[2020-05-29 14:22] hiviah commented on #304
Seems that using `-Og` instead of `-O0` in gcc optimization flags makes the segfault go away without the need of nlr patch.

[2020-05-29 14:34] tsusanka commented on #1028
@matejcik I guess this is because Electrum is not ready for the streaming right?

[2020-05-29 17:32] tsusanka commented on #1025
@bosomt @wendys-cats could you please retry? But I do not think it was a backend issue. But just so we are sure.

[2020-05-30 05:51] matejcik commented on #1028
most likely correct

[2020-05-31 16:27] sorooris commented on #1025
Suite version: [develop + connect zcash sign fix](https://suite.corp.sldev.cz/suite-web/develop/accounts/send/#/zec/1?trezor-connect-src=https://connect.corp.sldev.cz/fix/zcash-sign/) 30cb3eb4261cca9376e0a0cd92aeba7470ccb984
Wallet version: [baking-crocodile](https://mytrezor.corp.sldev.cz/baking-crocodile/development/#/device/37B2926FE750EA9E1D7FF6AD/account/0/send) 97ec358a0bdfa382402e962b76ba07

[2020-05-31 17:03] sorooris commented on #1028
Electrum 3.3.8
Devices:
T1 1.8.3, revision df0963ec48f01f3d07ffca556e21ff0070cab099
T1 1.9.0, revision 0b7a8449f8dd003fc415262b05102d113247d3de
TT 2.3.0, revision 0b7a8449f

Retested the issue and I was able to sign and broadcast BTC transactions ([1](https://btc1.trezor.io/tx/8b45e47509b768f9ee91a74811910394d80503ec8e24ec220acff7075d575dd5), [2](https://btc1.trezor.io/tx/f391bef87ae4926caa794bd5a

[2020-06-01 07:07] bosomt commented on #1025
ZCASH transaction fails with Electrum too

FW version: 2.3.1 RC3 5209804f

{"name":"Error","message":"Encountered invalid prev_hash","stack":"Error: Encountered invalid prev_hash\n at e.exports._handleRequests (/nix/store/a206vf55r6bn59q36syl0ilsa7yw8iqh-exodus-20.1.30/resources/app.asar/src/app/vendors.js:180:4479403)\n at c.concurrency (/nix/store/a206vf55r6bn59q36syl0ilsa7yw8iqh-exodus-20.1.30/

[2020-06-01 09:58] prusnak commented on #1025
You meant Exodus, no?

[2020-06-01 10:02] bosomt commented on #1025
@prusnak of course Exodus, i was thinking about Zcash Electrum but testing via Exodus

[2020-06-01 12:30] prusnak opened #1029 "Allow only BIP69 transactions?"
Do we want to allow only BIP69 transactions? (lexicographically sorted inputs and outputs).

Our web wallet already does this, but what about the others?

- [x] Trezor Wallet
- [x] Trezor Suite
- [x] Trezor Connect
- [ ] Bitcoin Core
- [x] Electrum - yes https://github.com/spesmilo/electrum/commit/e2c05c2400399fe24ddacfe114673cd75b9ba3c1
- [ ] Wasabi - no https://docs.wasabiwallet.io/using-wasabi/

[2020-06-01 14:23] tsusanka opened #1030 "Support pre-overwinter inputs"
In 2.3.1 and 1.9.1 pre-overwinter inputs are not be spendable. Since overwinter has been activated in 2018 already maybe this does not pose a problem? We have decided we will wait ~two weeks if this pops up at support to see if this needs to be addressed.

[2020-06-01 14:36] sorooris commented on #927
Devices:
T1 1.9.1 revision 81553df0
TT 2.3.1 revision 5209804f

Tested:
webauthn.io - Register & Login
login.live.com - Register & Login
binance.com - Register & Login
dropbox.com - Register & Login
github.com - Setup & Login
google.com - Setup & Login
u2f.bin.coffee - Setup & Login

**QA OK**.

[2020-06-01 15:16] sorooris commented on #933
QA OK.

Device:
- TT 2.3.1 revision 5209804f

Tested against:
- MyTrezor [baking crocodile branch](https://mytrezor.corp.sldev.cz/baking-crocodile/development/#/) 97ec35
- Suite [fix/zcash-sign branch](https://suite.corp.sldev.cz/suite-web/develop/wallet/send/?trezor-connect-src=https://connect.corp.sldev.cz/fix/zcash-sign/) 30cb3eb

[2020-06-01 15:19] sorooris commented on #972
**QA OK.**

Device:
T1 1.9.1 revision 81553df0

Tested against:
MyTrezor [baking crocodile branch](https://mytrezor.corp.sldev.cz/baking-crocodile/development/#/) 97ec35
Suite [fix/zcash-sign branch](https://suite.corp.sldev.cz/suite-web/develop/wallet/send/?trezor-connect-src=https://connect.corp.sldev.cz/fix/zcash-sign/) 30cb3eb

[2020-06-01 16:13] destrys commented on #1029
Is the proposal here to have Trezor devices only able to sign BIP69 transactions?

If so, I think this isn't a good idea.
BIP69 isn't part of consensus, it's still just proposed.
I don't see a convincing reason to have a hardware wallet add a layer of restriction.
It seems to me that BIP69 is a wallet spec, not a keystore spec.

Interestingly, this would introduce a tiny data leak, any non-BIP69 t

[2020-06-01 16:16] prusnak commented on #1029
Yes, this was a meta-task to document the current state of things. I still think BIP69 is good, but we will not enforce it in Trezor for now.

[2020-06-01 16:16] #1029 closed

[2020-06-02 08:32] sorooris commented on #927
Tested:
webauthn.io - Register & Login
login.live.com - Register & Login
binance.com - Register & Login
dropbox.com - Register & Login
github.com - Setup & Login
google.com - Setup & Login
u2f.bin.coffee - Setup & Login

An issue appeared when testing Binance login; @wendys-cats will describe it below.

[2020-06-02 09:18] sorooris commented on #921
tested against https://trezor.io/stellar/
devices: T1 1.9.1 revision 81553df0

Compared to the latest public T1 release (fw 1.9.0) and the trailing `.0` is not displayed in Stellar transactions; tested several amounts.

[2020-06-02 09:35] wendys-cats opened #1032 "Binance login with two devices"
**Issue: Two devices (One registered, one not - same seed) used for login on binance.com**

Tested on two T1 devices (1.9.0 signed, 1.9.0, usigned, 1.9.1 FW) and with one TT device (2.3.1. FW)  - will most likely work with any other two devices.
combinations: 1.9.0S and 1.9.0S, 1.9.1. and 1.9.0S, 1.9.1 and 1.9.0U, 1.9.1 and 1.9.1, 1.9.1 and 2.3.1
19.1. FW used trezor-fw-regular-1.9.1-81553df0
2.3.

[2020-06-02 09:36] wendys-cats commented on #927
Binance bug reported as a separate issue [here](https://github.com/trezor/trezor-firmware/issues/1032).

[2020-06-02 09:37] matejcik commented on #1032
that is very much not true in general.
did this work with previous firmwares?

[2020-06-02 09:38] prusnak commented on #1032
In general, that is not true. However, Binance does not use the signature counter - so it should work.

[2020-06-02 09:45] wendys-cats commented on #1032
Binance does not have counter like GitHub does. The case and the expected scenario both specify Binance, not "general", so the expected behavior stands true.
Not sure if it worked with previous firmwares, @sorooris @bosomt ?

[2020-06-02 10:07] bosomt commented on #1032
yes it's broken

tetsed with two devices with same seed

[2020-06-02 10:09] bosomt commented on #1032
maybe it's problem that

T1 uses U2F
and TT is used as FIDO2 device,
so maybe binance will disable/expects  U2F device next time

[2020-06-02 10:24] prusnak opened #1033 "./build-docker.sh should print all hashes once again at the end"
$SUBJ says it all

[2020-06-02 10:33] tsusanka commented on #1032
What I am now mostly interested in now is whether this is a regression or not. @bosomt @wendys-cats could you please test with 1.9.0 and 2.3.0 for example?

[2020-06-02 10:36] andrewkozlik commented on #1032
Firstly:
- U2F always uses a signature counter.
- FIDO2 uses a signature counter unless we explicitly know that the site is OK with us not using a signature counter.
- T1 supports U2F only.
- TT supports both U2F and FIDO2, so it depends on the browser which type of credential is created. I think Firefox still does only U2F, while Chrome does FIDO2.

The problem is this:
- If you register with a T

[2020-06-02 10:40] andrewkozlik commented on #1032
So just to summarize, there is no way that you can use a T1 and a TT to alternately log in to a site.

[2020-06-02 10:56] andrewkozlik commented on #1032
**Expected behavior**
User should be able to swap **_Trezor T_** devices as needed on Binance, as long as they have the same seed _**and the browser used supports FIDO2**_.

[2020-06-02 13:54] tsusanka commented on #617
This has been tested as part of the _Freeze table_.

[2020-06-02 14:37] wendys-cats commented on #1032
@andrewkozlik thank you for a more detailed info about how FIDO and U2F work:)

This here -
"If you register with a T1, then clearly you aren't using FIDO2, but U2F, and that always uses a signature counter, so you can't switch between devices."
 - in this case, there is another problem, because I did switch devices. I registered device A, then logged in with device B (see in Steps to reproduce).

[2020-06-02 15:06] andrewkozlik commented on #1032
I see, well to be more precise, you have no guarantee of being able to switch between devices. It depends on their counter values. The relying party keeps track of the last counter value used and checks that it's increased for every operation. It doesn't have to be by one, it can be more. So for example, if device A has its counter at 50 and B has it at 55, then something like this might happen:
1

[2020-06-02 15:22] sorooris commented on #1025
Suite - **QA OK**, several ZEC transactions were made
Suite version: [develop](https://suite.corp.sldev.cz/suite-web/develop/wallet/accounts/?trezor-connect-src=https://connect.corp.sldev.cz/fix/zcash-sign/#/zec/0) + [connect zcash fix](https://github.com/trezor/connect/pull/596/commits/6db36c5efb8fcd8d8699d7f29a6a8f5470a65e6d)

Devices:
T1 **1.9.1** revision **81553df0**: sent [tx](https://zec1.t

[2020-06-02 19:43] tsusanka commented on #1032
So to summarize, switching between device is not supported, it _may_ work in some cases, and it _must_ always work for the cases mentioned [above by Andrew](https://github.com/trezor/trezor-firmware/issues/1032#issuecomment-637459335). QA should update their test scenario accordingly, only the behavior described by Andrew makes sense to test.

Correct? I am closing then.

[2020-06-02 19:43] #1032 closed

[2020-06-03 08:07] MichalPetro commented on #948
@matejcik does it make sense to submit some WIP PR to you for a preliminary review or should we only submit once we are done?

[2020-06-03 08:09] mark-stopka commented on #948
@MichalPetro I would like to have a look if you guys don't mind...

[2020-06-03 08:33] MichalPetro commented on #948
@mark-stopka here is the public repo that we work in.  https://github.com/vacuumlabs/trezor-firmware

If Trezor confirms that they want a sneak peak on the WIP, we will clean it up a bit before submitting.

[2020-06-03 10:30] sorooris commented on #1025
Wallet - **QA OK**, several ZEC transactions were made
Wallet version: staging 312d4034295dbde990da7417b129d9db237ddaa0

Devices:
T1 1.9.1 c6b2580cd _signed_: sent [tx](https://zec1.trezor.io/tx/0cc50dd06b2744caeb9ae68865b82da67351834b793a1f820aa26a37afce4f43); receive - 3K6bcA5mmq6BRVq6BQd1g2TngFrZF3x92g
TT 2.3.1 c6b2580cd _signed_: sent [tx](https://zec1.trezor.io/tx/c22fec279ab5c3bc1d1a6c0e5244

[2020-06-03 10:34] tsusanka commented on #1025
Just for the record: this was a fronted issue and was fixed by https://github.com/satoshilabs/mytrezor/pull/928 and https://github.com/trezor/connect/pull/596.

[2020-06-03 10:34] #1025 closed

[2020-06-03 12:25] matejcik commented on #948
Please submit a draft PR. No need to clean up, we won't be reviewing it right now anyway, but having a sneak peek at the diff would be nice.

[2020-06-03 14:43] sorooris commented on #617
_*spreadsheet_

[2020-06-03 16:04] tsusanka commented on #1028
@matejcik I guess I can close this in favour of https://github.com/spesmilo/electrum/pull/6198?

[2020-06-03 17:48] sorooris opened #1035 "Update to 1.9.1 changes passphrase protection status"
**Describe the bug**
Honza reported an issue when updating from an unknown firmware version to the public 1.9.1 c6b2580 version that his device would turn on passphrase protection even though it was previously disabled.

**Firmware version and revision**
T1, update from unknown to 1.9.1 c6b2580

**Desktop:**
 - Wallet software: [production](https://wallet.trezor.io/)
 - OS: nixos
 - Browser: not p

[2020-06-03 17:49] sorooris commented on #1035
Retesting this now, please wait until I post the result.

[2020-06-03 18:20] sorooris commented on #1035
Could not replicate the described behavior, **QA OK**.

Tested on:
- Nixos/Chromium 80.0.3987.149
- public [wallet.trezor.io](https://wallet.trezor.io) (commit 312d4034295dbde990da7417b129d9db237ddaa0)

Tested by updating from a device with a recovered (12-word) seed with PIN on and passphrase off.
Updates to 1.9.1 c6b2580 from:
- 1.8.0 964a622 OK
- 1.8.1 0a6a5f8 OK
- 1.8.2 3c19e31 OK
- 1.8.3 df09

[2020-06-03 18:21] #1035 closed

[2020-06-04 04:11] matejcik commented on #1028
right.

[2020-06-04 04:11] #1028 closed

[2020-06-04 06:43] tsusanka opened #1037 "Add debug builds to firmware.corp"
Add debug builds to https://firmware.corp.sldev.cz/releases/firmwares/ .

Release versions are already sent to the website automatically. It would be nice to add also `debug` builds of these firmwares.

[2020-06-04 13:05] tsusanka commented on #1006
Let's translate the wire error strings directly in firmware.

[2020-06-04 13:06] #1006 closed

[2020-06-04 13:07] tsusanka commented on #1026
@szymonlesisz is this something high-priority for you?

[2020-06-04 13:13] tsusanka opened #1038 "Segwit prev_tx streaming is quite slow on TT"
I have measured how long signing takes for 100 inputs:
- On T1 without prev_tx streaming: 25s
- On T1 with prev_tx streaming: 1m 10s.
- On TT without prev_tx streaming: 50s
- On TT with prev_tx streaming: **10m 35s**.

Logs of communication:
[t1-no-streaming.txt](https://github.com/trezor/trezor-firmware/files/4730194/t1-no-streaming.txt)
[t1-streaming.txt](https://github.com/trezor/trezor-firmwar

[2020-06-04 13:20] tsusanka commented on #62
We have decided we do not want to do this anymore.

[2020-06-04 13:20] #62 closed

[2020-06-04 13:24] tsusanka opened #1039 "Remove Connect to host dialog in bootloader"
It seems redundant at the moment. If you wish not to communicate with computer why are you plugging the Trezor into the computer in the first place?

This implicitly means USB will be turned on automatically (without confirmation).

A counter-argument might be that in firmware I am protected using PIN (only after that the USB is turned on) and this serves as a confirmation I want to indeed enter t

[2020-06-04 13:26] tsusanka opened #1040 "Check firmware fingerprint in bootloader"
This is currently possible in the "Connect to host" dialog by clicking on the (i) icon. This is very hidden though and we consider removing this dialog in #1039. We should:
1. Decide this is something we want/need.
2. If yes, consider moving it to another screen/workflow.

[2020-06-04 14:17] matejcik opened #1041 "Closer integration of FIDO and configurable auto-lock"
With #75 done, the state of FIDO is that it does not request PIN for a maximum of fixed **3 minutes** after it was last entered.

If an auto-lock engages before that, FIDO will reprompt. If autolock is set to a later time (e.g., the default 10 minutes), FIDO will ask for PIN sooner.

**Notably,** FIDO will ask for PIN after 3 minutes from last entry, regardless of whether the user is actively usin

[2020-06-04 14:18] #974 closed

[2020-06-04 14:19] matejcik commented on #949
fixed via #958

[2020-06-04 14:19] #949 closed

[2020-06-04 17:57] prusnak commented on #993
Added in d9d5511858bcd7958186c5e1516cc1c1310c8502

It is not pixel-perfect, but more than usable for our purposes.

[2020-06-04 17:57] #993 closed

[2020-06-04 19:02] tsusanka commented on #993
This is great! :tada:

[2020-06-05 00:34] jlopp opened #1044 "Model T no longer allows arbitrary paths for signMessage or signTransaction"
**Describe the bug**
Prior to firmware 2.3.1 (2.3.0 works) it is possible to sign a message with a nonstandard derivation path; the Model T would simply prompt that this "unknown path" was acceptable to sign for. As of 2.3.1 the prompt no longer occurs and message signing immediately fails.

**Firmware version or revision**
Firmware 2.3.1

**Desktop/smartphone setup:**
Trezor Connect 6, 7, & 8
Deb

[2020-06-05 07:07] tsusanka commented on #1044
Thanks for the report. Could you share with us which nonstandard derivation paths you are using and what is the motivation behind it?

[2020-06-05 09:52] #702 closed

[2020-06-05 10:14] tsusanka opened #1045 "Modify T1 bootloader to run both Core and Legacy"
As part of #24 we want to run Core on T1. We need to modify the T1 bootloader to support this. As a product requirement we also want to support Legacy (up from version 1.9.x is enough).

[2020-06-05 10:17] matejcik commented on #75
For QA:

Auto-lock is enabled by default and set to 10 minutes. It cannot be completely disabled, but can be configured for up to ~6 days (technical limitation; setting higher values will silently set the maximum).

Minimum is 10 seconds. Specifying more will set (and show) 10 seconds.

Use `trezorctl set auto-lock-delay <seconds>` to set the delay.
Use `trezorctl clear-session` (command name will

[2020-06-05 10:18] tsusanka opened #1046 "Firmware upgrades without the need to replug on T1"
I believe this is already achieved by #847?

[2020-06-05 10:22] tsusanka commented on #4
We should do this as part of #24.

What we need is:
- Firmware that updates bootloaders on older T1 devices.
- This is important for new devices UX:
  - Host firstly sends this intermediary firmware, which updates the bootloader to its latest version (since the device does not contain a firmware no confirmation is needed)
  - Host then sends the actual up to date firmware (since the device does no

[2020-06-05 10:24] tsusanka opened #1047 "Jump from firmware to bootloader initiated by Host"
Host sends some message, user confirms in firmware and the device boots into bootloader. ButtonRequests are needed when this happens.

@slush0: We only need to evaluate security implications. I think special button confirmation before jumping to bootloader should be enough though.

[2020-06-05 10:25] tsusanka commented on #154
Product stance: Nerdy feature; not requested by product, but well, why not. Maybe it should be hidden in some advanced settings so that number won't distract people who don't understand why it's here.

[2020-06-05 10:27] prusnak commented on #1046
Yes, it is. However, we've not released the bootloader yet.

[2020-06-05 10:29] tsusanka commented on #64
We could do this as part of BL 1.9 but it is only nice to have feature and we should not slow down 1.9 because of this.

[2020-06-05 10:30] prusnak commented on #1045
I think this is a no-op. Since bootloader 1.8.0 we changed the firmware header to match the firmware header of core firmware, so I think it SHOULD be possible to flash the SIGNED core firmware from master built for T1 on device with BL 1.8.0. We'd need to test this, though, so please let's keep this open.

[2020-06-05 10:36] tsusanka commented on #12
@prusnak is this still up to date? Is it something we would like to include in the next bootloader release?

[2020-06-05 10:36] tsusanka commented on #11
@prusnak is this still up to date? Is it something we would like to include in the next bootloader release?

[2020-06-05 10:38] tsusanka commented on #60
If we decide to do #1039 this is not needed.

[2020-06-05 10:38] tsusanka commented on #1046
Indeed. I will close this then. (I just wanted to confirm this and label it bl 1.9).

[2020-06-05 10:38] #1046 closed

[2020-06-05 10:41] tsusanka commented on #4
Although this is not a bootloader issue per se I am assigning the labels because it is bootloader-related and we want to do it as part of some other bootloader tasks.

[2020-06-05 10:41] prusnak commented on #11
@tsusanka Let's have @hiviah assess the issue.

[2020-06-05 11:09] tsusanka commented on #12
I am assigning @hiviah as well to assess this.

[2020-06-05 11:15] slush0 commented on #1047
To prevent misunderstanding, the requirement is that the jump is initiated by host over API, and confirmed by the user on device.

[2020-06-05 11:29] tsusanka commented on #1047
Ah, so do we want to go the way you are mentioning or using the on-device menu? Or both?

I haven't realized your way makes way more sense - it is initiated by the host and we do not need to explain the user how to enter the bootloader.

[2020-06-05 12:13] jlopp commented on #1044
Casa's hardware device-based multisig system uses paths in the form of m/49/0/X (where X increments with each device rotation)

Message signing along these paths is used as a health check verification for each device to prove that it is still functional. This is a critical feature of our system so that users can regularly verify the integrity of their distributed setup without having to transact.

[2020-06-05 12:18] matejcik commented on #1044
so it's a non-hardened path all the way?

[2020-06-05 12:20] jlopp commented on #1044
Correct. I'd also note that the Model One's latest firmware still supports message signing on arbitrary paths; this appears to be a Model T specific change.

[2020-06-05 12:31] gabrielKerekes commented on #948
Hi guys, so I've submitted the draft PR with our progress --> #1048. Feel free to check it out and let us know if you need anything.

[2020-06-05 12:41] prusnak commented on #1044
You can use any of the valid paths as a health check. I recommend using Testnet path such as `m/44'/1'/0'/0/0`.

[2020-06-05 13:21] tsusanka commented on #1039
We have decided this argument is not strong enough and we want to go this way.

[2020-06-05 13:32] tsusanka commented on #1039
Also note that while removing this dialog we will remove the option to display the firmware fingerprint:

![Peek 2020-06-05 15-30](https://user-images.githubusercontent.com/1835345/83881881-97d12380-a741-11ea-8c37-1abf54b3de00.gif)

Let's move this feature (clicking on the (i) icon) into the second screen - the one that will be directly loaded without confirmation.

[2020-06-05 13:36] tsusanka commented on #1040
Merged into #1039.

[2020-06-05 13:36] #1040 closed

[2020-06-05 13:41] tsusanka opened #1049 "Redesign bootloader"
A nice to have feature from Product is to slightly redesign the bootloader.
Prerequisites are:
- #1039
- #60

----

Our general idea is to have a homescreen with a user-friendly explanation what just happened and what bootloader is. Next to that we are proposing a hamburger-like menu. This menu contains:

- Display firmware info (header and version)
- Display firmware fingerprint
- Factory reset (

[2020-06-05 13:43] tsusanka commented on #60
Product wants to do this. I am removing also "UX needed", because if we wish to do some more UX/design modifications we should go with #1049.

[2020-06-05 13:48] tsusanka commented on #1049
Also #994 should be taken into account.

[2020-06-05 14:04] cryptomar1o opened #1050 "Transaction on Ethereum based network with different chainID not able to be signed"
It is not possible to sign transactions on some Ethereum based networks. Common for these networks is that they look like an Ethereum network but using different ChainId. Instead of signing a transaction, the error message _Forbidden key path_ is shown by the used application.

Changing the derivation path makes no difference.

The issue seems to be connected to the firmware version 2.3.1 only. Et

[2020-06-05 14:15] slush0 commented on #1047
Exactly this

[2020-06-05 14:19] jlopp commented on #1044
Theoretically (with additional work) yes, any path could suffice.

To be clear, Casa's back end only has root xpubs that it uses to coordinate generation of multisig addresses, verification of signed messages, and so on. It does not have access to private keys and, as such, is incapable of hardened path derivation.

I suppose we can add exports of hardened child xpubs, though that will take some t

[2020-06-05 14:33] prusnak commented on #1050
Kovan is a testnet for Ethereum so it should use the `m/44'/1'` path

[2020-06-05 14:59] jlopp commented on #1044
After further testing I see that this "Forbidden Key Path" error is also presenting itself during transaction signing. This effectively breaks Model T usage within Casa's multisig system. Please revert this logic to how it worked in the 2.3.0 firmware.

[2020-06-05 15:23] tsusanka commented on #1044
To provide a bit of context: this change in Trezor T is a first step to provide better sandboxing of our apps. In 2.3.1 we are giving the apps (such as bitcoin etc.) only a subset of the keys. That means the bitcoin app now receives only 44'/0' subtree (or similar for segwit etc.) and is not allowed to manipulate with the other keys.

The fact that this is not present in Trezor One is only due to

[2020-06-05 15:59] jlopp commented on #1044
Yes, that device would become unusable for spending. Depending upon what other devices are in the user's setup, it may or may not completely prevent them from being able to spend funds.

This will require us to develop a migration plan; I would expect a minimum of several weeks for us to change our xpub export logic to export multiple hardened child xpubs rather than single root xpubs. Then we nee

[2020-06-05 16:47] tsusanka commented on #954
More than 18 days and still no job fail AFAICT. :tada:

[2020-06-05 16:47] #954 closed

[2020-06-05 17:13] destrys commented on #1044
I agree with Lopp on this, and restricting signing to particular BIP32 paths will also break Unchained Capital's products.

BIP32 path restrictions aren't part of consensus, I don't think it should be implemented at the hardware wallet level.

And this is a backward-incompatible change. For Trezor users with BTC locked in cold storage addresses using permitted BIP32 previously, you're forcing them

[2020-06-05 17:17] destrys commented on #1044
Another thing to consider: If these restrictions aren't implemented equally across the majority of hardware wallets, you will have users with addresses that aren't able to switch to a different vendor.

There isn't an accepted standard around this, we went with BIP45 when we designed our multisig product so our keys are derived from m/45'/0|1'/

[2020-06-05 17:18] destrys commented on #1044
We don't have a problem with users being shown the BIP32 path at each interaction (we actually prefer it) and a warning that an action is on a non-standard BIP32 path is fine too, but prohibiting an action because of the BIP32 path seems too far.

[2020-06-05 18:48] willccole commented on #1044
For the Unchained Capital use case: Upon further investigation, 45' is not currently impacted (it's not mentioned above, but is working fine).  We'd like to know if ultimately it would be impacted  so we can make preparations.

[2020-06-05 18:49] prusnak commented on #1044
@willccole No, `m/45'` is fine, because it is a well known path.

[2020-06-05 18:53] browep commented on #1044
I'm a little surprised at this decision to not allow access outside a subtree after previously allowing users to export xpubs higher up.  Unless I am not understanding it, such a change is _guaranteed_ to brick funds.  I understand how this increases security in a green field application ( allowing an app to sign something for another coin may be re-used where it was not intended. ) but that would

[2020-06-05 19:26] greenaddress commented on #1044
Haven't tested it yet but from what I read in this thread this will likely break all Blockstream Green/GreenAddress users that are using it with Trezor T. Will do some testing and get back.

[2020-06-06 06:07] matejcik commented on #1050
we have explicit support for Kovan: https://github.com/trezor/trezor-firmware/blob/master/common/defs/ethereum/networks.json#L108-L117
with chain_id 42 and `m/44'/1'/x'` it should work fine

We don't claim support for Volta nor EWC (not listed on trezor.io/coins), so I'd say that not supporting them is correct, what do you think @prusnak ?
If their users are interested, let them submit a PR to [`c

[2020-06-06 06:16] prusnak commented on #1050
Agree

[2020-06-06 07:17] prusnak commented on #1038
There is this older PR by Honza reworking the Protobuf internals: https://github.com/trezor/trezor-firmware/pull/190 If we decide to address this issue, we might want to revive that PR.

[2020-06-07 15:21] prusnak commented on #926
Switched to Nix in Docker via https://github.com/trezor/trezor-firmware/pull/1036

[2020-06-07 15:21] #926 closed

[2020-06-07 15:22] prusnak commented on #692
I just checked the wiki and it seems pretty fine - i.e. there is no outdated stuff there.

[2020-06-07 15:26] prusnak opened #1051 "Investigate coverage drop"
It seems the coverage (in the `core unix coverage posttest` CI target) has dropped to 17%. My guess is something got broken in the coverage itself.

Let's find out what exactly it was and maybe introduce a rule which fails the coverage target in the CI if the percentage is decreased (or below a fixed value).

[2020-06-07 20:03] tsusanka commented on #926
Btw [this](https://github.com/trezor/trezor-firmware/commit/22533a3f31ba1e8d896a6b57e8002606d6eceefa) modification is needed if we want to build and test using Nix as well, which I guess we do.

The CI is [failing](https://gitlab.com/satoshilabs/trezor/trezor-firmware/-/pipelines/153758897) with that commit. I can investigate tomorrow.

[2020-06-07 21:20] prusnak commented on #926
Argh, mea culpa. Pushed fixed in your branch - hopefully this fixes it.

[2020-06-08 06:28] tsusanka commented on #926
Almost there! Added `binutils` to fix `strip not found` error.

[2020-06-08 13:50] sorooris commented on #75
@matejcik could you link QA with a non-debug firmware build please? thanks

[2020-06-08 15:01] tsusanka commented on #75
@sorooris why not get it from CI? From `master` artifact `core fw regular`.

[2020-06-08 15:51] tsusanka commented on #1044
We have decided we will add exceptions for those of you affected in the next firmware release (most likely 2.3.1 to be released on July 1st) if there are no security implications of such exceptions (we will discuss this shortly).

---

If I am reading the discussion correctly, we will add:
- `m/49/0/X/` and `m/49/1/X/` for Casa (cc @jlopp).
- No exceptions for Unchained Capital because they are un

[2020-06-08 15:57] matejcik commented on #1050
Since version 2.3.1 it is expected behavior that mismatched chain_id and derivation path will fail to sign.

[2020-06-08 15:57] #1050 closed

[2020-06-08 16:52] sorooris commented on #75
@tsusanka thanks, i wasn't sure.

[2020-06-08 17:46] destrys commented on #1044
Could you point us to where the 'proper paths' are documented?

[2020-06-08 18:23] destrys commented on #1044
I notice your chose to use 48 for legacy multisig, even though BIP45 specifies 45 for multisig.
Also, I don't see paths for p2sh-p2wsh and p2wsh multisig. Which paths should we use for those addresses?

[2020-06-08 18:30] destrys commented on #1044
I also see in that document: " If the coin is UTXO-based the path should have all five parts, precisely as defined in BIP-32."
Should we be planning on limitations on Trezor bitcoin signing to only depth-5 keys, with the first three being hardened?

[2020-06-08 18:32] prusnak commented on #1044
AFAIK Electrum uses multisig with 48 for all types. That's where the info is from. I know Copay was using 45, but they later switched to 48 before killing their product completely.

By no means I want to become THE authority how multisig paths should look like. I assumed there will be some kind of consensus among companies who are working on multisig, but it seems you guys don't talk with each oth

[2020-06-08 18:39] destrys commented on #1044
I use https://walletsrecovery.org/ to keep an eye on everyone's paths.
We chose to use 45 because there is at least a submitted BIP for that, it would be nice if 45 was included in your document.

If you're going to lock down BIP32 paths, you're either becoming the authority on that, or need to track down what everyone is using (which isn't possible for individuals). Which is why I think it's a ba

[2020-06-09 07:05] tsusanka opened #1052 "Implement SLIP-0019 (support external inputs)"
Implement SLIP-0019 which enables external inputs.

[2020-06-09 07:05] tsusanka commented on #38
Implementing SLIP-19 is needed for this. Moved to #1052.

[2020-06-09 07:05] #38 closed

[2020-06-09 07:07] tsusanka opened #1053 "Implement the CoinJoin signing flow"
Implement the CoinJoin signing flow in Trezor.

[2020-06-09 07:08] tsusanka opened #1054 "Implement CoinJoin PoC"
Implement a standalone CoinJoin CLI which will serve as a proof of concept.

[2020-06-09 07:11] tsusanka opened #1055 "Implement unattended mode"
Implement the unattended (also called "staking" or "non-interactive") mode in Trezor.  This will allow doing some pre-authorized operations even if Trezor is soft-locked such as signing CoinJoin transactions or perform Tezos staking.

[2020-06-09 08:25] wendys-cats opened #1056 "Trezorctl Settings in Uninitialized Devices is Accessible"
**Bug**
**1.** User is able to access (and exectue) set commands on unitialized devices via trezorctl with the exception of wipe-code and PIN for newest FW (applies down to 1.9.0 and 2.3.0).
**2.** Older FW, like 1.8.3 and 2.1.8, also allow to set PIN for unitialized device.
After setting PIN for this unitialized device (tried on 2.1.8), user is not able to create new wallet (view video).
**2.5**

[2020-06-09 10:09] greenaddress commented on #1044
thanks @tsusanka

For GreenAddress we use

sign tx

- m/branch/address_pointer
- m/harden(3)/harden(subaccount_pointer)/branch/address_pointer

where branch is either 1 or 4 and subaccount_pointer is non 0

sign msg

- m/0x4741b11e
- m/0x4741b11e/6/pointer

we sign random bytes (it's a challenge with a fixed component and a random component)

@prusnak I think the green paths were developed before

[2020-06-09 11:35] hiviah commented on #1047
Not sure if this is possible. Normally firmware drops privileges at start, though through SVC call it might be able to change the VTOR table back and jump to bootloader.

[2020-06-09 12:58] tsusanka commented on #1049
Let's do this for both T1 and TT bootloader.

[2020-06-09 13:02] tsusanka commented on #71
Let's reevaluate this in Product because "Satoshilabs 2.3.0" for example is enough to uniquely describe the firmware fingerprint.

[2020-06-09 13:03] gabrielKerekes commented on #948
Trezor Connect library will also need to be updated to work with the Trezor Shelley update. We are not sure how we should go about this. Do we update it? If so, do we smiply create a PR there or how does it work?

Also I am having some trouble building the trezor firmware for an actual device - I've tried it only once so far and I will try it once more, but maybe someone will have some quick point

[2020-06-09 13:05] tsusanka commented on #64
We can do this but it would have to be in two steps:

- Install bootloader via SD card using boardloader (we have that already).
- Install firmware via SD card using bootloader (we can do that).

We can't however make this one-step - that would require boardloader change.

[2020-06-09 13:07] tsusanka commented on #64
We believe having filesystem on the SD card is kind of a prerequisite for this. Otherwise users would have to `dd` the firmwares making this feature even more nerdy.

[2020-06-09 13:14] tsusanka commented on #60
Let's discuss where exactly the Wipe Button should be.

![Screenshot from 2020-06-05 15-34-08](https://user-images.githubusercontent.com/1835345/83882186-0a420380-a742-11ea-9ed4-569d982ea46a.png)

[2020-06-09 13:43] hiviah commented on #1038
For the record, measurement with GC calls from `sign_tx` removed (`gc.collect` calls):

* 59 G instructions in emulator with GC calls removed, 359 G instructions with explicit GC calls (so about 6x faster with default 20M heap)
* 9:13 min on device with GC calls removed, so about 14% faster than the original measurement.

Apparently the new protobuf calls cause lot of allocations and load in garba

[2020-06-09 13:49] matejcik commented on #948
yes

sounds like a toolchain version problem?

try running `PRODUCTION=0 ./build-docker.sh`

[2020-06-09 14:24] matejcik commented on #1056
This is important! Pointing it out because I completely missed it in bug description.

Now this reduces to a question of whether we want to allow settings in advance (probably not)

[2020-06-10 06:36] heavypackets commented on #33
The CTO of SatoshiLabs has recently said, bluntly, that this isn't a feature they will ever support.

https://old.reddit.com/r/TREZOR/comments/gclfkm/using_for_2fa/fpcaf52/

There was an attempted PR of this functionality in the password manager last year but it was rejected for very opaque reasons: https://github.com/trezor/trezor-password-manager/pull/68

Lack of TOTP is the reason why I must st

[2020-06-10 07:55] tsusanka commented on #1056
I am bit confused here.

On an empty device after running `trezorctl set passphrase enabled -f` the setting is stored because:

[code]

but running `trezorctl reset-device --skip-backup` after that I get:

[code]

So in this case the setting does not survive the reset.

I believe it _depends_. For some settings that are not overridden by the `reset_device` (or recovery) the setting will stay, for

[2020-06-10 08:59] tsusanka commented on #1030
Same goes for prevtx with shielded outputs.

[2020-06-10 11:11] slush0 opened #1059 "Zcash signing fails on "Encountered invalid prevhash""
**Describe the bug**
When sending transaction from Trezor to transparent Zcash address, signing fails on "Encountered invalid prevhash" message. Fails on old web wallet as well as on beta Suite (2020.05.01).

I was trying to spend input from tx ec1371e482fdd08836bf143b79b015184784448e93c626288d18563e8c66c7a2 and send it to transparent address, so no shielded inputs/outputs were involved.

**Firmwa

[2020-06-10 11:27] tsusanka commented on #1059
@trezor/qa could you retest this please?

[2020-06-10 11:52] bosomt commented on #1059
**FW** 1.9.1 production
**Wallet:** Trezor wallet  production
**Browser** Version 83.0.4103.61 (Developer Build) (64-bit)

I was not able to reproduce it.

From Transparent to Transparent address.
Worked fine.
Tx: https://zec1.trezor.io/tx/a2fbc27cbd68bd3f6c2111facf7028fae83470480ba5cf0874762b9fa269170f

![image](https://user-images.githubusercontent.com/31506317/84264462-8ad97900-ab21-11ea-97cc-5

[2020-06-10 11:56] tsusanka commented on #1059
Ah I think I know! I believe @slush0 is trying to spend tx from pre-2018 (it seems it is [from 2017](https://explorer.zcha.in/transactions/ec1371e482fdd08836bf143b79b015184784448e93c626288d18563e8c66c7a2)). So this is exactly #1030.

[2020-06-10 11:59] slush0 commented on #1059
Ah, so there we go.

[2020-06-10 11:59] #1059 closed

[2020-06-10 11:59] tsusanka commented on #1030
Just for the record: slush encountered exactly this in #1059.

[2020-06-10 14:04] tsusanka opened #1060 "Fix check for an empty message header in coins info"
This [commit](https://github.com/trezor/trezor-firmware/commit/1f6fe3fef3f71c2ca6a472d115436819fd5ee674) adds a coin which has an empty `signed_message_header`. Ii should fail on CI, but it [does not](https://travis-ci.org/github/trezor/trezor-firmware/builds/696825080).

I believe this is the code responsible:

https://github.com/trezor/trezor-firmware/blob/56fe5adcfc83839f46e9f0d45c69d56142f4fd0

[2020-06-10 18:14] fresheneesz opened #1062 "Increase length of time that firmware versions are supported or make API support more granular"
**Is your feature request related to a problem? Please describe.**
Electrum has [a scary warning message](https://github.com/spesmilo/electrum/issues/6172) that comes up if your trezor firmware is below the version [the library supports](https://github.com/trezor/trezor-firmware/blob/74450ee4bb257fc731f6f8d8fe85991ef6bf4774/python/src/trezorlib/__init__.py).

**Describe the solution you'd like**
T

[2020-06-11 07:09] tsusanka commented on #1060
Added in 981d079d7f1f0704e7731fec0c84e77aa40f40b1

[2020-06-11 10:41] matejcik commented on #1062
I'm going to reopen this and keep it in the backlog.
Having trezorlib calls granular by the newest supported version (via decorators, probably) would be rather nice, even if only for code documentation purposes.

[2020-06-11 14:12] tsusanka opened #1064 "Allow third-parties BIP-32 paths and provide a setting"
As a follow up of #1044 we have decided we will:

- [x] Allow [greenaddress](https://github.com/trezor/trezor-firmware/issues/1044#issuecomment-641186469) and [Casa](https://github.com/trezor/trezor-firmware/issues/1044#issuecomment-639594974)'s paths.
- [x] Provide a new setting which disables the paths checks and allows all paths. This setting can be set using trezorctl and strongly informs the

[2020-06-11 15:32] tsusanka opened #1065 "Wipe before reset and recovery"
As a follow-up of #1063 and #1056 we have agreed with @matejcik it would be nice to wipe the storage before reset/recovery to make sure the storage is in an expected state. Although the device should not receive any settings after #1063 this seems as a good precaution.

Not to confuse the Host we want to keep the device id unchanged.

1. We will introduce a new function which will be called before

[2020-06-11 15:49] #1060 closed

[2020-06-11 16:47] #1056 closed

[2020-06-12 06:17] tsusanka commented on #1044
@jlopp @greenaddress as mentioned 2.3.1 should be released on July 1st or August 5th and we are now inclining to August 5th which is in ~7 weeks. The reason is that we have some other features, fixes and also compatibility issues on our Wallet that needs to be fixed before release and we are afraid we will not them finish them in time. Is that something you can live with? We will do our best but I

[2020-06-12 06:20] tsusanka opened #1066 "Unify pin_chached"
`pin_cached` differs now between T1 and TT. In Legacy ti is

[code]

and in T it is simply:

[code]

- Let's unify it.
- Let's rename it to `unlocked`

[2020-06-12 06:20] tsusanka commented on #1066
@szymonlesisz are you using `pin_cached` in Connect? Any takes on this?

[2020-06-12 12:48] jlopp commented on #1044
It's not great, but I have determined that Model T users can downgrade to 2.3.0 and fix their issue. One of the bigger annoyances is that Trezor Connect displays multiple warnings prompting people to upgrade their firmware; it would be great if we could disable those for our users in order to prevent unnecessary support cases.

[2020-06-12 12:52] onvej-sl opened #1067 "QR code dialog buttons not working properly"
Neither of the buttons on the QR code dialog is responding properly. I have to tap it multiple times to invoke an action.

Firmware 2.3.1. It affects only device (not emulator).

![image](https://user-images.githubusercontent.com/38104856/84503020-b2634980-acb9-11ea-8652-a52d6af7ca8f.png)

[2020-06-12 14:59] tsusanka commented on #1067
@trezor/qa could you retest please?

[2020-06-12 15:08] bosomt commented on #1067
@tsusanka tested, this is happening with every version of FW for a long time.

Tested it now with 2.3.1 and it's sometime happens and sometime now.

I can record video when i press QR/Address button or OK button 10 times and it won't happen.
And sometimes it won't respond 10 times in row.

i can show you at Monday in office.

[2020-06-12 16:02] tsusanka opened #1070 "Upgrade tests do not work on NixOS"
[code]

What seems peculiar to me is the part about virtualenv. Isn't somehow accidentely the root shell.nix used? Weird..

[2020-06-12 16:23] tsusanka commented on #692
I have tried this for 2.3.1 and the fingerprints did not match. So this is most likely caused due to the fact that we have introduced NixOS after 2.3.1. So let me try again during the next release and let's close then.

[2020-06-14 18:42] tsusanka commented on #1030
One ticket on support. If this is easy let's fix it.

[2020-06-15 09:02] tsusanka commented on #60
Product has decided we want to do this in #1049.

[2020-06-15 09:58] tsusanka commented on #1015
@hiviah this was done by #1031 right?

[2020-06-15 12:38] tsusanka commented on #64
We have discussed this in a Product meeting and some good arguments were brought up.

First, is filesystem really a prerequisite? We were brainstorming that it is:
1. A nerdy feature and using some programs to "burn" ISO installation programs to USB/whatever is not that rare.
2. Having filesystem can bring other problems. Did user formatted the card to FAT? Not NTFS or something else? It seems lik

[2020-06-15 15:35] sorooris commented on #1067
@tsusanka
**QA NOK**
Wallet: prod, commit hash 312d4034295dbde990da7417b129d9db237ddaa0
Browser: any (tested Chromium)

Device fw versions:
- 2.3.1 c6b2580cd
- 2.3.0 0b7a8449f
- 2.1.8 8eb6ce08

Note: Confirming issue with both buttons - however, there is an inconsistent occurence of the described issue as @bosomt describes above.

[2020-06-15 16:58] shea256 commented on #1044
I would like to echo @jlopp and @destrys on this.

This change would make it extremely difficult for many users to continue to use Trezor.

For example, I use some non-standard paths for my keys and this change would mean I would have one of several options:

1. Not upgrade the firmware, thus forgoing future security updates (not acceptable)
2. Migrate all of my coins out of these addresses and in

[2020-06-15 17:04] shea256 commented on #1044
Additionally, it seems this change imposes undue burden on developers who are creating new apps and experimenting with new currencies and new paths.

There is nothing that makes m/44', m/45', m/48', and m/49' special as paths.

The beauty of the system is that it preserves decentralized standards. Each standard is confined to a root number, and since standards are much less common than cryptocurre

[2020-06-15 17:08] hiviah commented on #1015
Yes.

[2020-06-15 17:20] #1015 closed

[2020-06-16 09:37] tsusanka commented on #1065
Closed by #1072.

[2020-06-16 09:37] #1065 closed

[2020-06-16 09:40] tsusanka commented on #1065
QA: just a quick test against wallet.trezor.io and suite (do not test autolock though) please
- simple reset and backup and get an address
- simple recovery and get an address

Nothing should break, so this is a regression test.

[2020-06-16 09:53] tsusanka commented on #1056
@wendys-cats please retest - no settings should be stored until the device is initialized. It is allowed to set PIN _during_ reset/recovery but not before using the `trezorctl set` command. That should throw "Not initialized" error.

[2020-06-16 09:55] tsusanka commented on #702
@trezor/qa please retest.

- When setting a new PIN the left lower button should not be a lock but an orange `<-`. Please check that and test that the functionality did not change.

[2020-06-16 12:28] bosomt commented on #702
2.3.1

![image](https://user-images.githubusercontent.com/31506317/84773908-5f510580-afdd-11ea-8a35-5fadccc86d6f.png)

vs

2.3.2 current master trezor-fw-regular-2.3.2-b6c8cbc2.bin

![image](https://user-images.githubusercontent.com/31506317/84773995-80195b00-afdd-11ea-8dcc-670290bb1d8b.png)

and yes functionality did not changed, you can set PIN code and you are asked for PIN code next time

[2020-06-16 12:39] tsusanka commented on #702
Great. Please add the QA test successful then please.

[2020-06-16 13:38] bosomt commented on #1067
i just tried few older production firmwares
result:

2.0.8 OK
2.1.4 NOK

if you want I can try to find exact firmware
when this bad response of QR/address button was introduced

[2020-06-16 13:55] wendys-cats commented on #1056
@tsusanka
**TEST OK**
tested on TT FW 2.3.2 revision b6c8cbc
tested via trezorctl version 0.12.0 (except homescreen on initialized device)
**Any action from trezorctl set commands results in "Error: NotInitialized: Device is not initialized".**
After generating seed, all the set commands are available (tested PIN, auto-lock-delay, passhprase, wipe code, passphrase always on device, label, homescre

[2020-06-16 14:26] sorooris commented on #702
please ignore, i'm testing markdown

**QA OK**

2.3.1 8859d10 | 2.3.2 b6c8cbc2
------------ | -------------
![image](https://user-images.githubusercontent.com/10185314/84775993-0d5daf00-afe0-11ea-94b1-074f842640bc.png) | ![image](https://user-images.githubusercontent.com/31506317/84773995-80195b00-afdd-11ea-8dcc-670290bb1d8b.png)

Note: Functionality did not change - PIN code can be set is asked f

[2020-06-17 08:55] tsusanka commented on #1044
@jlopp we have temporarily disabled the prompt for 2.3.1 upgrade in Trezor Connect (https://github.com/trezor/connect/pull/608). It should be live in production already. Hope that helps.

---

As mentioned above we will implement #1064 which means allow greenaddress/Casa paths and at the same time we will add a trezorctl setting which will allow all paths for advanced users. So that should work al

[2020-06-18 10:42] tsusanka opened #1073 "Support Zcash Heartwood hardfork"
As confirmed via email, the consensus branch ID is the only change that will impact signing a transaction. We need to introduce a new `version` and set the consensus branch id to `0xF5B9230B`. Also I suppose the [fields](https://github.com/trezor/trezor-firmware/blob/e630279487dbdfefae14ceb962472531702cb026/core/src/apps/bitcoin/sign_tx/zcash.py#L56) we add for v4 should stay?

We should test this

[2020-06-18 10:44] matejcik commented on #1073
both `version` and `consensus_branch_id` are sendable by the user.
we might want to change `self.tx.version == 4` checks (in the core code) to `self.tx.version >= 4` to be future-proof against this kind of thing

[2020-06-18 10:48] tsusanka commented on #1073
Ah, great!

Well what is the correct scenario to support Heartwood? To send `version = 4` and `branch_id = 0xF5B9230B` or support a new `version = 5`? The first option seems easier since it does not require any modifications in firmware?

[2020-06-18 10:51] matejcik commented on #1073
We need to modify the firmware unfortunately, because higher versions are explicitly unsupported (wrt the "`version==4`" thing)

When that is done, the correct values to send are `version=5, branch_id=0xf5b9230b`
All further version bumps that do not touch the signature algorithm (ZIP243) will then work just by sending new correct values.

[2020-06-18 12:14] tsusanka commented on #1073
Host needs to send `version = 4` and `branch_id = 0xF5B9230B` and that's it. No action in firmware is needed we need to do this in Suite/Wallet though.

[2020-06-18 14:24] hiviah commented on #4
So to recap the strategy from intermediate FW's point of view:

1. it updates bootloader to latest version that is packed together with FW
1. copies small shim into RAM to allow current firmware to be erased (compiled to fixed address or position independent)
1. jumps to shim
1. shim deletes firmware
1. shim soft-resets device

[2020-06-18 18:12] tsusanka commented on #965
Due to #1072 we have decided to do this a bit differently and we will set the Initialized field in storage to False if no mnemonic is present.

[2020-06-18 21:29] prusnak commented on #1070
The script works as expected if I run it from `trezor-firmware/tests` without nix-shell (and thus virtualenv activated).

If I am in activated nix-shell (and thus virtualenv) I indeed see the same error (and the files are not patched via autopatchelf).

[2020-06-19 07:06] #965 closed

[2020-06-19 07:08] tsusanka commented on #965
@bosomt could you please retest with current master (4239e8d)?

- load T1 with xprv, you need firmware 1.8.3 or lower and probably older trezorctl
- do upgrade to master
- check that initialized in get-features is false

[2020-06-19 07:13] tsusanka commented on #1070
Ah, right! Okay then. I have added a comment in 67b50f0fc to clarify and we can close.

[2020-06-19 07:13] #1070 closed

[2020-06-19 07:27] tsusanka commented on #1073
Confirmed via email that the version remains `4`. Therefore sending a new branch_id should be all that is needed. I am closing here as I have opened an issue in Suite https://github.com/trezor/trezor-suite/issues/2045.

[2020-06-19 07:27] #1073 closed

[2020-06-19 09:51] tsusanka commented on #1030
Since we need Suite's cooperation here it would be nice to do this asap. @matejcik does this also mean we will introduce the `overwintered` field in SignTx, which we have removed in 2.3.0?

[2020-06-19 10:17] prusnak commented on #1030
I don't think we need this, although it might simplify some things.

IIRC overwintered is equivalent to "coin is Zcash(-like)" and "version is 1 or 2".

[2020-06-19 10:34] tsusanka opened #1076 "[Epic] Introduce emulator & Suite tests with Regtest"
We desperately need emulator <-> Suite tests. After we have a new hire this is what I would like to focus on.

As a hotfix we can add Suite's tests. They already have [some tests](https://gitlab.com/satoshilabs/trezor/trezor-suite/-/jobs/602202828) against our emulator so we could run these as well for every change.

In a long-term perspective I would like to:
- [x] Refactor Suite's [trezor-user-e

[2020-06-19 10:36] tsusanka commented on #1030
One way or another we have removed `overwintered` from Signtx and @szymonlesisz found that out just about now (we have to improve the fw <-> Connect relationship, see #1076) so we need to decide whether we have removed it forever or not.

[2020-06-19 11:47] bosomt commented on #75
currently testing suite branch suite-web/feat/232-pinentry
 https://github.com/trezor/trezor-suite/commit/06d90d21312e090fb2e1b14f83b99be48bd13fb2 with latest 2.3.2 master e630279

1) i often **see enter passphrase dialogue before i see correct dialogue after i unlock** auto-locked device with some confirmation like change pin or name, after less than second it will disappear and I will see correc

[2020-06-19 12:35] tsusanka commented on #75
So you have an auto-locked device and you start some action in Suite (such as change pin). You unlock the device and instead of the change pin dialog you see a passphrase dialog on the device for a brief second? Is that correct? Maybe video could help?

[2020-06-19 12:40] bosomt commented on #75
@tsusanka I just sent suite issue, screenshot from video and video included
https://github.com/trezor/trezor-suite/issues/2046

strange is  the it only happens once, maybe then passphrase is already cached, i don't know ;)

[2020-06-19 14:38] tsusanka commented on #1066
Let's not close this before talked to the Suite team.

[2020-06-19 17:18] jonathancross opened #1078 "Recovery of Monero wallet without Trezor device?"
**Is your feature request related to a problem? Please describe.**

If my Trezor is lost, damaged or fails, I would like an alternative way to recover my Monero wallet using the BIP39 seed phrase without a Trezor. Ledger provides [a python tool](https://github.com/LedgerHQ/app-monero/blob/master/tools/python/README.md) to convert their seed phrase backup into the 25 word seed phrase expected by th

[2020-06-19 19:37] tsusanka commented on #1037
Closed by 6ebb388.

[2020-06-19 19:37] #1037 closed

[2020-06-20 20:39] esneider commented on #416
Now that #617 has been finished, are there any plans/roadmap for tackling this feature? Is there a way in which we might help it move faster?

It's a big blocker for most advanced vault-like use cases.

[2020-06-22 09:43] matejcik commented on #1078
pinging @ph4r05 for his Monero knowledge.
however I don't see why the Ledger tool wouldn't work too.

[2020-06-22 09:43] matejcik commented on #75
yes, this is intentional

[2020-06-22 09:59] matejcik commented on #1030
@prusnak is correct, we can use `tx.version < 3` or something, also `version_group_id is not None`.
(in fact we should check that the fields match)

[2020-06-22 11:39] jmacato commented on #1064
IDK if this is the correct place to report this but I'm currently trying to fix the incompatibility in 2.3.1 between Wasabi and Trezor devices.. Now the fixes works good on Mainnet but i kept failing and got invalid keypath exception while signing a transaction for Testnet. The keypath that failed is `m/84'/0'/0'/0/4`.

[2020-06-22 11:47] jmacato commented on #1064
IDK if this is the correct place to report this but I'm currently trying to fix the incompatibility in 2.3.1 between Wasabi and Trezor devices.. Now the fixes works good on Mainnet but i kept failing and got invalid keypath exception while signing a transaction for Testnet. The keypath that failed is m/84'/0'/0'/0/0 and this prompt is shown twice...

![img_20200622_194235](https://user-images.gith

[2020-06-22 12:29] prusnak commented on #1064
The correct Testnet path is  `m/84'/0'/1'/0/0` (second element is the coin).

[2020-06-22 12:55] jmacato commented on #1064
@prusnak i see... we are using the same keypath for all bitcoin mainnet/testnet/regtestnet. I wonder if that merits some exception?

[2020-06-22 13:01] prusnak commented on #1064
No, it does not. I don't see any reason why you should use the same keypath for mainnet and testnet. Do you?

[2020-06-22 14:03] matejcik commented on #321
this is fixed in #959

[2020-06-22 14:03] #321 closed

[2020-06-22 14:05] matejcik commented on #366
this is actually fixed through the UI testing system

[2020-06-22 14:05] #366 closed

[2020-06-22 14:08] matejcik commented on #50
This has been done in #959 and reverted in #1020 again. Currently `GetPublicKey` cannot do derivation path checks because too many third parties are using it in too many distinct (and mostly valid) configurations.

[2020-06-22 14:08] #50 closed

[2020-06-22 14:11] matejcik commented on #69
linking to #15

[2020-06-22 14:12] matejcik commented on #10
I think we can close this in favor of the core port, what do you think @tsusanka @prusnak ?

[2020-06-22 14:16] matejcik commented on #948
while you folks are on this, care to look at #438 as well? thanks!

[2020-06-22 14:18] matejcik commented on #527
this is not done yet

[2020-06-22 14:23] matejcik commented on #715
Beta of Suite is out and nobody complained about this so far. It doesn't seem that this feature is necessary.

[2020-06-22 14:23] #715 closed

[2020-06-22 14:38] matejcik commented on #888
the `address_n` field in `multisig.pubkeys` is supposed to have a partial path, e.g., `m/<xpub>/0/0`. This way Trezor can derive the appropriate public key from the "account xpub".

The "failed to derive" error is coming from an attempt to do a hardened derivation (2147483693 is `45'`) on a public key. So this is invalid data for the multisig struct.

[2020-06-22 14:38] #888 closed

[2020-06-22 16:11] ph4r05 commented on #1078
@matejcik thanks for a ping! I have some tools like this mentioned. I will check them and get back to you.

[2020-06-22 16:43] jmacato commented on #1064
Yeah.. Sadly that's how it is on wasabi for now. It'll need some effort in refactoring the wallet to use different key paths for each nets. Guess we'll just have to not use testnet with trezor for now.

[2020-06-22 16:50] prusnak commented on #10
ACK

[2020-06-22 17:00] ph4r05 commented on #1078
@jonathancross @matejcik I've added some info on the seed recovery to the https://github.com/ph4r05/monero-agent/blob/master/PoC.md#trezor-seeds

I've authored a utility that can perform various seed conversions, also one mentioned in this issue: Trezor seed -> Monero seed. The utility: https://github.com/ph4r05/monero-agent/blob/master/monero_poc/seed.py

The scheme is quite simple:

[code]

The

[2020-06-22 19:51] molnard commented on #1064
You can load the same wallet on every network with Wasabi. With this change, the TestNet/RegTest wallets created with Trezor will reject signing. Is there a way to solve this in a way that maintains compatibility?

[2020-06-22 21:48] prusnak commented on #1064
( moved the off-topic discussion to email )

[2020-06-23 08:52] #10 closed

[2020-06-23 12:46] bosomt commented on #965
@tsusanka

I was able to start old trezorctl and perform test.
see: https://pastebin.com/Jyu9kf2t

Result:

initialized in get-features is false after upgrade

1.8.3 unsigned 6e13d2fa :     initialized: True,
1.9.2. current master 6ebb3889:     initialized: False,

[2020-06-24 16:23] hiviah opened #1082 "T1 firmware update via trezorctl incorrectly throws "Invalid firmware data." if firmware image is too small"
**Describe the bug**
Updating T1 via `trezorctl firmware-update -f trezor.bin` throws `Invalid firmware data` if firmware is too small (I guess less than a full chunk). See attached small sample firmware that just shows trezor logo.

**Firmware version and revision**
Bootloader must be at least 1.8.0. Revision tested 6ebb38890557a33ea3ba15414b7148d6bcfc107e

**To Reproduce**
Steps to reproduce the

[2020-06-25 09:13] matejcik commented on #1082
fwiw you can use `firmware-update --skip-check` to side-step the error

[2020-06-25 09:23] #1082 closed

[2020-06-25 09:38] andrewkozlik commented on #1067
The bug is caused by a missing repaint check in `Qr::on_render()`, so the device keeps redrawing the QR code. It was effectively introduced in 36534325f09b17c4581f0eeb6210fc0d6982cdfe, although the distal cause was probably the fact that the function was already missing `self.tainted = True` before that.

There are several other `on_render()` methods where the repaint check is missing. Most of the

[2020-06-25 10:25] #1067 closed

[2020-06-26 07:00] bosomt commented on #1067
QA OK
now I have 100% success when changing QR/address via touchscreen button

tested with current master f382f77c 2.3.2
and current wallet Git Commit: 1f09c65d25eaf01aa3da804dfedf765b588d3559

[2020-06-26 10:17] Homers1234 commented on #1022
Hi there. I was wondering if anyone could help me please.

I sent VeChain (VET) from Binance to the Trezor T Model (via MyEtherWallet) the Public Address:
(0x8a1fa4811bD58DB02C6029BA63Dd17874B2E172d) on Wednesday 2020-06-16 12:09:29.

The withdrawal from Binance Platform was successful but never got confirmation in my Trezor Transaction History.

I can not to see the coins/tokens in my account (pu

[2020-06-26 10:18] matejcik commented on #1022
hello, this is a developer forum. Please contact Trezor Support through https://trezor.io/support/

[2020-06-29 07:00] tsusanka commented on #75
So since @bosomt's (1) is not related to the auto-lock (happens on 2.3.1 as well) and (2) is intentional I am closing again. @bosomt were those the only issues you have encountered? In another words, did you successfully test all the other scenarios provided by @matejcik? On `suite-web/feat/232-pinentry`, we still need to test Wallet later

[2020-06-29 07:01] #75 closed

[2020-06-29 07:56] bosomt commented on #75
@tsusanka tested and all features mentioned by matejcik are working fine.

[2020-06-29 08:06] tsusanka commented on #75
And let's wait for the old Wallet implementation :). I'll let you know when that's ready. Thanks

[2020-06-29 11:19] tsusanka commented on #1066
This _should_ be fine for Suite.

QA:
Please test T1 on current master against https://suite.corp.sldev.cz/suite-web/feat/232-pinentry/wallet/ and wallet.trezor.io.

1. Enable PIN.
2. Enable autolock (set to 10s).
3. Wait for the lock.
4. Unlock.
5. Disable PIN.

Make sure the Wallet/Suite reacts to these events as it should. The gist of the test should be "make sure nothing has changed" which is

[2020-06-30 10:12] tsusanka commented on #1064
Let's make the setting not as "disable hard-core checks", but in more general for example "enable power user mode" or better "disable security checks" or smth like that. We may use it for other stuff in future.

[2020-06-30 10:21] tsusanka opened #1087 "Introduce hard limit on transaction fee (core)"
We [currently have](https://github.com/satoshilabs/trezor-firmware/blob/42eddf8e04c059832e0205925fd60f0943f3884b/core/src/apps/bitcoin/sign_tx/bitcoin.py#L134) soft warning when transaction fee seems too high. For a usual small segwit transaction the limit is around 0.003 BTC which is ~30 USD at the current price (~9000 USD).

When there is a really big fee (by accident or malware) we are just a u

[2020-06-30 10:44] matejcik commented on #1064
"Disable security checks" sounds reasonable, and also indicates what general sort of thing falls under this.

[2020-06-30 12:36] tsusanka commented on #75
@trezor/qa please do a quick test with Password Manager as well.

[2020-06-30 12:43] sorooris commented on #1066
**QA NOK**
Auto-lock **time** is displayed _nowhere_.

device: T1
Suite: web branch [232-pinentry](https://suite.corp.sldev.cz/suite-web/feat/232-pinentry/wallet/)
trezorctl: 0.12

[2020-06-30 12:50] sorooris commented on #1066
**QA NOK**
Auto-lock **time** is displayed _nowhere_.

device: T1
Suite: web branch [232-pinentry](https://suite.corp.sldev.cz/suite-web/feat/232-pinentry/wallet/)
trezorctl: 0.12

User has no way of knowing how long the duration before auto-lock is on their device:
- nothing during auto-lock setup (on-screen confirmation),
- trezorctl get-features yields nothing,
- nowhere in Suite.

[2020-06-30 13:07] tsusanka commented on #1066
@sorooris the introduction of this setting into suite is a separate issue here: https://github.com/trezor/trezor-suite/issues/1946

---

What do you mean by this? When you are changing auto-lock delay you are confirming it on the device. It is true though we have enabled the auto-lock by default for everyone (10 min). This was agreed upon with Product.

[2020-06-30 13:19] #1030 closed

[2020-06-30 13:23] matejcik commented on #1066
This is identical to T1 where (again) auto-lock has existed for a long time.

We might want to revisit this with Product though?

[2020-06-30 13:34] tsusanka commented on #1066
I do not see any rational to publish the value in features (remember we do not want to bloat them). And in Suite it will displayed in the settings... It seems enough to me.

----

@sorooris so unless you have found something else should we close again?

[2020-06-30 13:36] matejcik commented on #1066
can't be displayed in Suite if we don't add it to Features. The device currently does not report the current auto-lock delay in any way.

[2020-06-30 13:43] tsusanka commented on #1066
:facepalm: correct. I still think we should introduce something like GetSettings instead of putting this into Features. So I am suggesting to move this into a separate issue. Imho it is not related to this issue in particular.

[2020-06-30 13:49] sorooris commented on #1066
@tsusanka Thank you for pointing out the separate issue, i wasn't aware of it.

Comparison of model T (2.3.2 24f803e9) and T1 (1.9.2 24f803e9) dialogue (both after entering the same command `trezorctl set auto-lock-delay 10`):

 T1|TT
 -|-
![image](https://user-images.githubusercontent.com/10185314/86131749-50db1180-bae6-11ea-8717-c245c105cd5e.png)|![image](https://user-images.githubusercontent.co

[2020-06-30 13:53] tsusanka commented on #1066
I do not think this is a problem per se (we will unify everything with the _port_) but let's reevaluate in Product. Still it is imho not related to this issue. Could you please open a new one for this (your latest comment)? And I'll open another one for the features.

[2020-06-30 13:55] matejcik commented on #1066
Correct. This is not related to the current issue, we didn't modify user-facing behavior of T1 so this is not a regression.

[2020-06-30 13:57] tsusanka opened #1088 "Provide an option to retrieve the autolock delay setting"
To provide a good experience in Suite for https://github.com/trezor/trezor-suite/issues/1946 we need to publish the autolock delay setting in Trezor. Both in T1 and TT.

We might add it to Features but introducing something like `GetSettings` sounds more reasonable not to bloat them.

[2020-06-30 13:59] wendys-cats commented on #1066
@tsusanka , question about FIDO/U2F (stick said you will know the exact implementation)

I have a T1 1.9.2 24f803e with auto-lock. Device is soft-locked. When I want to sign into Dropbox, the request for registration will appear on T1 without unlocking it (no PIN required). Is this correct behaviour?

I distantly remember something about auto-lock colliding with FIDO/U2F requests and the decisiion

[2020-06-30 14:00] tsusanka commented on #1066
Yes, this is correct. There is no way to enter the PIN on T1 when doing U2F/FIDO (we can't somehow interfere the protocol and display our PIN matrix or whatnot).

[2020-06-30 16:02] destrys commented on #1087
I think this is a bad idea.
This is another example on non-consensus opinions being baked into a hardware wallet.
How do you know that the fee market won't explode in the future, and someone who needs a next-block confirmation isn't willing to spend 0.03 BTC for that?

Instead of a built-in hard limit, I suggest having several warnings. So instead of a single click, it takes 3 or 4 clicks.

Trezor

[2020-06-30 16:08] destrys commented on #1064
I'm not a fan of the trezorctl option for disabling restrictions introduced by SatoshiLabs. Most users will not be comfortable with this option. If there are other hardware wallets without non-consensus restrictions, that will be a safer path than advising customers to use trezorctl.

I would also again like to highlight that there is not an accepted standard to reference when talking about "non-s

[2020-06-30 19:57] bosomt commented on #75
@tsusanka i already sent issue 2 days ago for TT 2.3.2 ;)
https://github.com/trezor/trezor-password-manager/issues/95

i will heck it with T1 tomorrow ;)

[2020-07-02 12:30] tsusanka commented on #1088
Let's ask Suite team, because we do not care that much.

[2020-07-02 13:06] tsusanka commented on #24
We have agreed on with Product that we would like to keep the PIN entry on T1 as it is, that means using the pin matrix. Yes this has a drawback that the USB needs to be turned on beforehand, however we do not want introduce a new feature into the Port process.

[2020-07-02 13:13] tsusanka commented on #1078
As already answered there are two ways you can achieve this:
- with the tools provided by @ph4r05
- build emulator (see our [docs](https://docs.trezor.io/trezor-firmware/core/build/index.html)) in case this is a real emergency

We do not want to include this into trezorctl not to increase its complexity. Thanks for the idea!

[2020-07-02 13:13] #1078 closed

[2020-07-02 14:48] prusnak commented on #24
This makes FIDO2 PIN entry on device impossible. We could theoretically allow entering the FIDO PIN on host (FIDO allows us to specify this) - but this is a bad idea when the FIDO PIN will be the same as a device PIN (current situation) - introducing different PIN for FIDO also seems like a UX hell.

[2020-07-03 06:14] tsusanka commented on #322
Reevaluated, we want do this.

[2020-07-03 06:33] tsusanka opened #1093 "Limit autolock delay setting - raise error if out of range"
We currently limit the auto lock to delay `min = 10s, max = 6 days` on TT and `min = 10s, max = ~50 days` on T1. In TT we silently set the appropriate min/max if the value is out of range. Let's raise an error in that case not to confuse the user. Also let's do that for Legacy if it is not there yet.

[2020-07-03 08:19] matejcik commented on #1093
For the record, if you try to set less than minimum on TT, display confirmation dialog will show the minimum 10 s. This does not happen on the max side.

Also, T1 does not show the autolock value on screen. We might want to change that while we're at this.

[2020-07-03 09:18] #1052 closed

[2020-07-03 19:10] tsusanka commented on #1030
Ok so I have finally tested this. I have used the [Connect Explorer](https://sisyfos.sldev.cz/connect-explorer/#/method/signTransaction-zcash) and with the same setup (seed, inputs, outputs):

1. on 2.1.8 I have successfully signed a transaction
1. on 2.3.1 I have encountered the "Invalid prev hash error"
1. on master (25a2e690fee0e79e581863a946b030c77e9717d2) I have successfully signed the transa

[2020-07-03 19:12] tsusanka commented on #982
Since we are now streaming prev tx we need to support also legacy transactions. So it seems we won't be able to do this anytime soon? Closing? cc @matejcik

[2020-07-03 19:18] bosomt opened #1095 "RSOD after first unlock of 2.3.2 FW via PIn code"
**Describe the bug**
Device crashed after I reconnected it and tried to enter PIN code

**Firmware version and revision**
2.3.2 revsion 14a8da9

**Desktop/smartphone setup (please complete the following information):**
 - Wallet software: web wallet 57337e4959a7d7db476a7ab5089febccea6f2c22
 - OS:nixos
 - Browser Chromium
 - Version 83.0.4103.106

**To Reproduce**
i'm not able to reproduce it,
but

[2020-07-03 19:24] prusnak commented on #1095
IMO there is only one place where this could've happened:

https://github.com/trezor/trezor-firmware/blob/25a2e690fee0e79e581863a946b030c77e9717d2/core/src/boot.py#L30

meaning that the exception was thrown somewhere from here:

https://github.com/trezor/trezor-firmware/blob/25a2e690fee0e79e581863a946b030c77e9717d2/core/src/boot.py#L16-L19

Assigning @matejcik and @andrewkozlik because they were t

[2020-07-06 13:22] MichalPetro commented on #948
We prepared the first PR here https://github.com/trezor/trezor-firmware/pull/1096
The Second PR will follow shortly this week.
First 2 PR's are crucial for sending funds
The third PR will introduce staking support.

[2020-07-07 06:47] tsusanka opened #1097 "Confirm auto-lock delay timeout on T1 screen"
As commented by @sorooris in https://github.com/trezor/trezor-firmware/issues/1066#issuecomment-651803034:

Comparison of model T (2.3.2 24f803e9) and T1 (1.9.2 24f803e9) dialogue (both after entering the same command `trezorctl set auto-lock-delay 10`):

 T1|TT
 -|-
![image](https://user-images.githubusercontent.com/10185314/86131749-50db1180-bae6-11ea-8717-c245c105cd5e.png)|![image](https://user

[2020-07-07 06:48] tsusanka commented on #1066
Since this is not an auto-lock issue I believe this is done. We have concluded the QA remarks will be evaluated in https://github.com/trezor/trezor-suite/issues/1946, https://github.com/trezor/trezor-firmware/issues/1088 and https://github.com/trezor/trezor-firmware/issues/1097.

[2020-07-07 06:50] #1066 closed

[2020-07-07 08:28] matejcik commented on #982
nope, this issue is about removing support for *signing* v3 transactions.
we already dropped v1 and v2 before the refactor, I think?
to close this, we need to find out if v3 transactions are valid on currently existing Zcash-like networks.
we *think* not, but it would be super nice to have some confirmation from actual Zcash / Komodo / Koto devs

[2020-07-07 08:49] wendys-cats opened #1099 "Soft auto-lock feature interrupts dry run recovery"
**Info:**
 - **OS:** nixOS
 - **Browser:** Chromium Version 83.0.4103.61 (Developer Build) (64-bit)
 - **Wallet Version:** **suite** suite-web/feat/232-pinentry 06d90d21312e090fb2e1b14f83b99be48bd13fb2 AND  **wallet** autolock/development
 - **Firmware Version:** 2.3.2 b14a8da9

**Describe the bug**
New auto-lock-delay feature does not recognise dry run recovery mode and will soft-lock the device

[2020-07-07 13:26] andrewkozlik opened #1098 "Support multiple change-outputs"
Both T1 and TT firmware allow having only one change-output per transaction. If there are multiple change-outputs, then only the first one is treated accordingly and the remaining ones are treated as normal outputs, i.e. they are shown for confirmation and included in the total amount. The reason why this restriction was put in place was historically the lack of a use-case for multiple change-outp

[2020-07-07 14:11] mroz22 commented on #1088
I dont like GetSettings very much for this. All other "options" are already present in Features.
Or do you mean introducing something like BasicFeatures containing only neccessary fields and then something like ExtendedFeatures with everything accessible via separate call? That sounds reasonable.

[2020-07-07 14:47] tsusanka commented on #1099
This is a firmware issue. We have discussed on today's standup we would like to fix this by locking only on homescreen. Let's discuss this tomorrow with @matejcik.

[2020-07-07 14:49] tsusanka commented on #1099
This issue also applies for an actual recovery/backup (not a dry run).

[2020-07-07 15:01] tsusanka commented on #1099
On a quick test this does not seem to affect tx signing.

[2020-07-07 15:03] matejcik commented on #1099
we have previously discussed that autolock should actually interrupt actions, iirc?
it makes sense: if you keep a signtx operation open for 10 minutes, it should interrupt (consider a user that has to run outside while waiting for tx streaming to finish)

[2020-07-07 16:14] tsusanka commented on #982
@matejcik I have confirmed this via email from Zcash. The v4 transaction format was required following the Sapling network upgrade. I do not know about Komodo/Koto though.

[2020-07-08 06:35] jonathancross commented on #1078
Thanks.
Is the Monero-specific recovery process documented for end-users someplace (other than this issue)?

[2020-07-08 08:22] matejcik commented on #1099
In my testing, TX signing is cancelled and locked after a period of inactivity.

Note that USB communication does count as activity. Streaming previous txes for 30 seconds will not let the device lock, but waiting 10 seconds on a confirmation screen will.

[2020-07-08 09:05] tsusanka commented on #1078
@jonathancross thanks I will forward it to our wiki team.

[2020-07-08 09:07] tsusanka commented on #1099
Ah I haven't realized that.

[2020-07-08 12:23] tsusanka commented on #1095
@bosomt did you succeed to reproduce this?

[2020-07-08 12:42] bosomt commented on #1095
@tsusanka nope ;(

[2020-07-09 13:32] sorooris commented on #75
Tested with 2.3.2 14a8da9
[Testpad report](https://satoshilabs.ontestpad.com/script/123/report/?auth=4fab6a3d5572de55fdb5dc3c7421457b)

[2020-07-09 13:51] #1098 closed

[2020-07-09 14:26] MichalPetro commented on #948
@matejcik any idea who will be reviewing our PRs?

[2020-07-10 12:05] #1099 closed

[2020-07-10 15:29] KayBeSee opened #1103 "non-mandatory-script-verify-flag (Signature must be zero for failed CHECK(MULTI)SIG operation)"
I am building a multisignature wallet and am running into a weird issue when signing with Trezors.

I can sign the following transaction with Ledgers and Coldcards and they are able to broadcast them no problem but when I sign with a Trezor, I get the error below.

Transaction
[code]

Error
[code]

I understand that with the most recent firmware update, I need to attach the previous transaction to

[2020-07-11 20:30] My1 commented on #1000
a better answer than in 2019 when it was not even planned, but still kinda sad it's just on the (kinda expensive) model T

[2020-07-13 08:48] prusnak commented on #1103
Please describe more in detail how are you sending TX to Trezor. Which libraries/programs do you use, show us the code, etc.

[2020-07-13 08:55] prusnak commented on #1103
Might be relevant: https://github.com/bitcoin-core/HWI/pull/352/files

Which version of HWI and Bitcoind do you use?

[2020-07-13 09:20] matejcik commented on #1103
@KayBeSee please provide the transaction you are signing, preferably in the `trezorctl` [json format](https://github.com/trezor/trezor-firmware/blob/master/python/docs/transaction-format.md)

[2020-07-13 13:10] matejcik commented on #1038
partial fix: #1089

another step is removing explicit `gc.collect` in helpers, per @hiviah's suggestion

even with all this, protobuf is relatively slow and we'll need to look for more

[2020-07-13 15:03] wendys-cats commented on #1099
`QA test successful `

**FW** 2.3.2 revision bb8127c5
**Wallet branch** /autolock/development

Seed check bug fixed in #1102.  Actual backup/recovery is NOT a part of #1102 - applies only for dry run.

Can confirm dry run is no longer interrupted mid-typing. Right now, seed check and backup work the same - after waiting for X amount of seconds, auto-lock will apply and interrupt the action.
Also,

[2020-07-14 06:21] KayBeSee commented on #1103
I am using HWI 1.1.2 and broadcasting the transaction using Blockstream's API.

Here is the hex of a transaction I was trying to sign and broadcast earlier:

[code]

I am building the transaction using bitcoinjs-lib. I can share that code if it is useful.

[2020-07-14 08:56] matejcik commented on #982
From a random sampling, both Komodo and Koto chains are using v4 since last year. That at minimum means that v4 transactions _are valid_ on the networks, and so we can safely drop v3 support, IMHO.

So let's go ahead and do this.

Heads-up for @ca333 for Komodo and @wo01 for Koto; please let us know if this would pose any problems for you.

[2020-07-14 09:01] matejcik opened #1105 "bump nanopb to 0.4.3"
using protobuf fields with default values is currently impossible, because legacy's nanopb 0.4.1 will barf in some cases: https://github.com/nanopb/nanopb/issues/487

nanopb 0.4.2 was released a couple weeks ago which should include the fix
we need it in order to proceed with #379 / #1001

[2020-07-14 09:09] wo01 commented on #982
No problem.

[2020-07-14 11:08] sorooris opened #1106 "Confirmation dialog displayed halfway through signing animation"
**Describe the bug**
Transaction confirmation dialog is displayed halway through the signing animation.

**Firmware version and revision**
T1 1.9.1 c6b2580, 1.9.2 b8127c59
TT 2.3.2 b8127c59

**Desktop/smartphone setup (please complete the following information):**
 - Wallet software: Suite develop, 232-pinentry; Wallet [autolock branch](https://github.com/satoshilabs/mytrezor/commits/0e7d8b1992b17

[2020-07-14 14:09] matejcik opened #1108 "do not gc.collect so often in Bitcoin signing"
related to #1038

At this point it *seems* that we have quite enough free memory for Bitcoin signing that the normal GC collector can handle it fine by itself.
Calling `gc.collect` explicitly after every TxRequest/TxAck exchange is therefore wasteful and [noticeably](https://github.com/trezor/trezor-firmware/pull/1089#issuecomment-656637114) slows down the process.

Similarly, we probably don't ne

[2020-07-14 14:16] matejcik commented on #671
bumping priority as this now relates to #1038

With the C-level caching disabled as of 7d5b26d02e18d99133779ce6b84ef31a2b843b29, there is currently no derivation path cache. This might matter when signing big transactions with repeated paths (i.e., when consolidating 100 inputs sent to the same address).

The usecase is very limited, but still might be worth investigating.

[2020-07-14 14:17] matejcik commented on #1044
@greenaddress what are the possible values of `address_pointer`, `subaccount_pointer` and `pointer` ?
are these analogous to Trezor's accounts (we currently allow 20, but might bump that to 100) or address indices (we allow 1 000 000) ?

[2020-07-14 16:04] andrewkozlik opened #1109 "Stream prev_tx after confirmation"
The streaming of previous transactions can get quite lengthy when there is a large number of transaction inputs, see https://github.com/trezor/trezor-firmware/issues/1038. Currently we stream the previous transactions before the user confirms anything, which means that when the user wants to sign a large transaction, they have to:

1. Wait for the previous transactions to get streamed.
2. Confirm

[2020-07-15 07:36] tsusanka opened #1110 "Replace use_passphrase with setup_client in tests"
After #1107 is merged, let's replace `client.use_passphrase("passphrase")` with `setup_client(passphrase="passphrase")` where applicable.

[2020-07-15 10:29] sorooris commented on #1099
I don't understand why was this issue moved to the Merged column of the board - should it be tested again? Please let me know @matejzak @tsusanka

[2020-07-15 10:33] matejzak commented on #1099
@sorooris I was unable to move this out of the Suite July 8 project (probably since I didn't put it there in the first place). It this has been tested before, we are good, no need to test it again.

[2020-07-15 10:40] sorooris commented on #1099
sweet, thanks!

[2020-07-15 10:52] tsusanka commented on #1099
This was originally created in the Suite repo but it was a firmware bug so I have [moved](https://github.com/trezor/trezor-firmware/issues/1099#event-3520810846) it here. Maybe that's why it ended in the Suite project as well. Tl;dr: firmware bug -> firmware process -> QA test successful label present -> all good :).

[2020-07-15 11:35] andrewkozlik commented on #1109
I implemented this in the TT firmware and fixed the device tests already but haven't tested it with any wallet.
Branch: https://github.com/trezor/trezor-firmware/compare/andrewkozlik/prevtx-after-confirm.
Firmware: https://gitlab.com/satoshilabs/trezor/trezor-firmware/-/jobs/639680430/artifacts/file/trezor-fw-regular-2.3.2-d065c5df.bin

@tsusanka please hand this over to QA and give them a list of

[2020-07-15 16:15] tsusanka commented on #1110
Also let's drop support for "True" in the passphrase argument and replace all usages of `passphrase=True` with strings. If there are tests that need passphrase enabled but not prefilled let's make them do that call explicitly.

[2020-07-16 09:34] tsusanka commented on #1106
Duplicate of  #1109.

[2020-07-16 09:34] #1106 closed

[2020-07-16 11:45] tsusanka commented on #1095
@bosomt still no luck? Did not happen for @wendys-cats or @sorooris ?

[2020-07-16 11:52] wendys-cats commented on #1095
Confirming I have not been able to reproduce RSOD after reconnect with PIN enabled.

[2020-07-16 11:53] tsusanka commented on #1087
There are many things hardware wallets do that are non-consensus. BIP-39 is one of them (it is still "Proposed"). It is not the role of Bitcoin to decide these for us. We want to have as secure product as possible whilst allowing advanced users to turn off some checks. Feel free to contact me at tomas.susanka@satoshilabs.com if you wish to discuss this further, I do not want to make this issue a m

[2020-07-16 12:00] andrewkozlik commented on #1095
I speculated that it might be a bug in the firmware update mechanism but I was unable to reproduce it or find anything in the code. Improved Mypy coverage might reveal what it is.

[2020-07-17 08:41] sorooris commented on #1095
Confirming i wasn't able to reproduce this as well.

[2020-07-17 10:46] gabrielKerekes commented on #948
The second PR can be found here #1112. We still hope there's a chance for even the third PR to make into the release. It shouldn't contain too much new code to review. It should be ready early next week.

[2020-07-17 13:42] matejcik opened #1113 "META: "Uninitialized device" as a fully separate device state"
### Intro

Since #1063 we disallow settings on an uninitialized device. To enforce that internally, we also wipe all existing settings (except device id) as part of #1065 -- that way a device that is reset or recovered does indeed start with a clean slate.

As a side-effect of #1065, session cache and the current session id is also erased.
This means that after reset/recovery, the device goes back

[2020-07-17 14:50] sorooris commented on #75
Linked [issue](https://github.com/trezor/trezor-password-manager/issues/95) from the report retested and is fixed by [Connect](https://github.com/trezor/connect/pull/619), removing the _needs QA_ label.

[2020-07-20 08:04] tsusanka commented on #1113
I like that. However IMHO this does not make much sense to deal with until we have a clear idea on how we want to approach the encrypted sessions and the pairing.

[2020-07-20 11:37] bosomt commented on #824
**QA OK**

FW 1.9.1 0xc6b2580cd245ee924507f45e9675f857a3d78768,
wallet b3f18eb73765f92dd35eff2c562ef1edb5dd9fa3

[2020-07-20 11:41] bosomt commented on #882
**QA OK**

FW 2.3.2 revision  e70811c
wallet b3f18eb73765f92dd35eff2c562ef1edb5dd9fa3
suite https://github.com/trezor/trezor-suite/commit/582ebd2f9c1b733058df3e6adf70f842c7ef394d

latest chrome and nixos

[2020-07-20 11:52] bosomt commented on #807
**QA OK**

solved via https://github.com/trezor/trezor-firmware/pull/833

[2020-07-20 12:25] tsusanka commented on #1103
@KayBeSee could you please provide the json format for trezorctl as @matejcik mentioned? Or PSBT. That would help us a lot to debug this issue.

[2020-07-20 12:26] bosomt opened #1114 "model T responds with firmware error when loading white noise homescreen"
**Describe the bug**
model T with 2.3.2 responds with firmware error when loading white noise homescreen
`Homescreen change failed.
Error details: Firmware error`
Default homescreens: `Success
Homescreen has been changed.`

with production FW 2.3.1 works fine

**Firmware version and revision**
FW 2.3.2 Revision e70811c

**Desktop/smartphone setup (please complete the following information):**
 - W

[2020-07-20 12:28] tsusanka commented on #1095
@bosomt do you remember whether this has happened before, after, or during PIN entry?

---

Also @bosomt @sorooris could please try to retest this by:

1. Installing older fw (2.3.0 for example).
2. Setting up PIN.
3. Upgrade the device to current master (bcd044a).
4. Try to unlock the device and get address.

[2020-07-20 12:33] matejcik commented on #1095
from slack:

￼> matejcik￼  13 days ago

[2020-07-20 12:45] bosomt commented on #1095
@tsusanka
- I've never seen this error before or after this one accident
- 2.3.0 unsigned to current master so device is not wiped ?

[2020-07-20 13:12] bosomt commented on #1095
tested

trezor-fw-regular-2.3.0-0b7a8449.bin

trezor-fw-regular-2.3.2-bcd044a4.bin

works OK
i will try some other operations

[2020-07-20 13:14] bosomt commented on #1114
works ok with current master
trezor-fw-regular-2.3.2-bcd044a4.bin

[2020-07-20 14:13] tsusanka commented on #1095
I meant whether this has happened to you before you have tried to enter PIN or **during** or **after** you have entered PIN. In another words when exactly did it happen. If you remember of course :).

Yes please.

[2020-07-20 14:18] bosomt commented on #1095
@tsusanka i think it was hen i entered and confirmed PIN when I reconnected device, if I remember it correctly :) it was 9PM :)

[2020-07-20 15:05] bosomt commented on #815
**QA OK**

FW 2.3.2 e70811c
wallet b3f18eb73765f92dd35eff2c562ef1edb5dd9fa3
latets nixos and Chrome

[2020-07-20 15:07] bosomt commented on #568
@tsusanka is there still need to test it on our side
or is it even possible ?

[2020-07-20 15:17] tsusanka commented on #568
We have not released the bootloader yet, so there is nothing test at the moment. But maybe leave the `needs QA` so we test it when we finally decide to release new bootloader.

[2020-07-20 15:21] tsusanka opened #1115 "Load main python module directly when micropython is launched"
To launch emulator you need to run `micropython -m main`. That is confusing and cumbersome for non-developers. Is there an easy way to run `main` by default? Let's investigate and do it if it is not too complicated.

[2020-07-20 22:34] cacampbell opened #1117 "Hedera (Hbar) Integration"
- What is the approximate scale? Have a look at the other apps and try to compare your new app with one of those present in the terms of scale.

- Do we need any new cryptographic primitives to support this coin?

- Is there (or will you develop) a frontend wallet that will support Trezor with this coin?

- Provide links to relevant developer documentation, esp. about address format and transactio

[2020-07-21 08:58] matejcik opened #1118 "core: invalid homescreen leads to bootloop"
to reproduce:

use the following file
[bad-noise.toif.txt](https://github.com/trezor/trezor-firmware/files/4952337/bad-noise.toif.txt)
after downloading, rename to `bad-noise.toif`
then:
[code]

@bosomt can you please test older firmwares if they have the same problem?

[2020-07-21 08:58] matejcik commented on #1118
the problem is that `apply_settings` does not check validity of the image

[2020-07-21 09:15] matejcik commented on #1114
it seems that we're (still) running out of memory.
@bosomt please check if the issue persists if you do this on a freshly plugged-in Trezor

[2020-07-21 09:16] matejcik commented on #1114
if not, please continue testing with the whitenoise background set

[2020-07-21 09:21] bosomt commented on #868
**QA OK**

web dev suite master 8cc3650adbb123a224def6e0a024f25a8b7f5cc8
fw 2.3.2 e70811ce
latest nixos and chromium

[2020-07-21 09:30] bosomt commented on #1114
**QA OK**

@matejcik
works fine now with same commit e70811c
i wiped device to bootloader, loaded FW and created new seed
do you want to close this issue ?

trezorctl set homescreen -f ./Downloads/white-noise.toif
Please confirm action on your Trezor device.
Settings applied

suite: Settings changed successfully

[2020-07-21 09:31] matejcik commented on #1114
i'll lower severities for now and see what we'll do about this

[2020-07-21 10:25] prusnak commented on #1117
Hedera is # 51 on CMC

[2020-07-21 10:25] #1117 closed

[2020-07-21 11:03] bosomt commented on #1118
@matejcik
same behavior with 2.3.0 and 2.3.1 /production versions/
only way to recover was to wipe it including bootloader

[2020-07-21 12:00] gabrielKerekes commented on #948
Is the July 24 deadline also valid for Trezor Connect? Ideally we would like to be able to submit the Trezor Connect PRs until next Tuesday - July 28. Would that be possible?

[2020-07-21 12:25] bosomt commented on #1065
@tsusanka  in last month we wiped multiple devices and recovered single or shamir or super shamir seed without any kind of problem. /with latest master of 2.3.2 and 1.9.2 /

Is there something particular that we should check or is this enough for now ?

[2020-07-21 13:28] tsusanka commented on #948
It is not, they have different release process. On the other hand they are really under-staffed at the moment so we can't make any promises when they will be able to review it.

[2020-07-21 13:30] tsusanka commented on #1065
Mmm I am bit confused here, you have filed https://github.com/satoshilabs/mytrezor/issues/932 which claims otherwise, no?

[2020-07-21 13:57] gabrielKerekes commented on #948
Then what will happen if new Trezor FW is released (with Shelley updates) and Trezor Connect with Shelley support has not yet been released?

[2020-07-21 14:02] tsusanka commented on #948
We will do our best to make it happen. Are the changes in Connect big?

[2020-07-21 14:06] gabrielKerekes commented on #948
That depends on what big means. The second PR will be slightly larger than the [first PR](https://github.com/trezor/connect/pull/623) because of larger protobuf changes, but I don't think it should be too bad. There should only be changes in the types and their validation.

[2020-07-21 14:42] KayBeSee commented on #1103
PSBT.toBase64 (this is what I am passing to HWI for signing):
`cHNidP8BAH0CAAAAARYK0qAl5LSN4zAlBJLV2hzQcMoNvVc6ep0E8Tq6FWObAQAAAAD/////AqCGAQAAAAAAFgAUDNMQS2XovLv37nK58I3ZyGjPB49REwQAAAAAACIAILtt9eLCTm9k8wZAd3HzistOcG55NWMISGmTBU7E49RaAAAAAAABAP18AQIAAAAAAQEqt7Vjqf8ksP0Oi2GKof5k1US+m8gL7RjC0j4pihQmYwEAAAAA/////wKghgEAAAAAABYAFGFhdDTuNdyLfTSSeWqXp/KoZCwXodsFAAAAAAAiACB/Q8+xZSNt2ua8fPzr/WrFHWs5+pCsY

[2020-07-21 18:27] cacampbell commented on #1117
![image](https://user-images.githubusercontent.com/4349395/88092101-cd409d80-cb44-11ea-9c3f-5392f9c33eaf.png)

[2020-07-21 18:36] cacampbell commented on #1117
Ah, the homepage applies the coins only filter ¯\_(ツ)_/¯

woops well we'll wait until hbar is worth 5 cents then I guess.

[2020-07-22 07:11] bosomt commented on #1065
@tsusanka sorry for confusion, I still see **Recovery failed. Error details: Firmware error** in old wallet

[2020-07-22 12:28] tsusanka opened #1120 "Stream homescreen picture"
The TOIF images might be large and not fit into the pre-allocated 8KB block (see https://github.com/trezor/trezor-firmware/issues/1114 and https://github.com/trezor/trezor-firmware/pull/1089). We should consider streaming the image.

[2020-07-22 12:58] tsusanka commented on #1108
@mmilata I think this can be your next issue when the time comes :). @matejcik am I correct that we want to remove **all** gc.collect calls in `apps/bitcoin/`? Or maybe only the ones in `helpers.py`?

[2020-07-22 13:03] matejcik commented on #1108
definitely the ones in `helpers.py` that happen after every message exchange.

not sure about others, some review will be necessary

[2020-07-22 15:33] prusnak commented on #1103
I would say so ...

[2020-07-22 15:35] #1103 closed

[2020-07-22 16:03] gasull opened #1125 "Add support for Bitcoin Cash SLP tokens"
Please add support for [Simple Ledger Protocol (SLP)](https://simpleledger.cash/) tokens on Bitcon Cash, which are based on `OP_RETURN`.

Some of the most common SLP tokens are:

 - [Tether (USDT)](https://finance.yahoo.com/news/tether-stablecoin-launches-seventh-blockchain-160000007.html),
 - [Honestcoin (USDH)](https://www.honestcoin.io/),
 - [Core Cash (BTC2)](https://bitcoinist.com/btc2-token-

[2020-07-22 19:38] #1093 closed

[2020-07-23 03:35] minchenzz opened #1121 "How to get a btc multisig-address with python-trezor ?"
[code]
I do not know hot to get these args. Is there a demo?

[2020-07-23 08:13] tsusanka opened #1122 "Implement new fonts"
For T1 (but in Core!) we want to introduce PixelOperator8 (regular and bold) and for TT we want to introduce Hoves (regular, medium and bold). <s>These fonts will completely replace all the current ones.</s> These fonts will replace the current ones with one exception and that is Roboto Mono - we will keep that for addresses etc.

[fonts.zip](https://github.com/trezor/trezor-firmware/files/4964573

[2020-07-23 08:20] tsusanka opened #1123 "UI support for T1 in Core"
As part of #24 we need to do some architectural changes in our Layout, `trezor.ui` and possibly many other places. Each UI component and dialog need to have two versions - one for TT and for T1.

[2020-07-23 08:35] tsusanka opened #1124 "Introduce pagination for T1"
We want to introduce pagination to T1 while doing port. Also see #1215 for TT redesign of pagination.

![image](https://user-images.githubusercontent.com/1835345/88266599-c2feda80-cccf-11ea-8683-b29362ebebe0.png) ![image](https://user-images.githubusercontent.com/1835345/88266640-d01bc980-cccf-11ea-874d-3ad848483844.png) ![image](https://user-images.githubusercontent.com/1835345/88266626-cabe7f00-

[2020-07-23 08:38] prusnak commented on #1121
See the examples in https://github.com/trezor/trezor-firmware/blob/master/tests/device_tests/test_multisig.py

[2020-07-23 08:38] #1121 closed

[2020-07-23 08:41] prusnak commented on #1122
What about the monospace variant for TT? The font we currently use (Roboto) has both non-proportional (monospace) and proportional variants. TT Hoves does not seem to have one.

[2020-07-23 08:50] mmilata commented on #1093
Please test that setting the auto-lock delay to 5s causes an error.

[2020-07-23 09:21] tsusanka commented on #1122
Very good points.

I'll clear that up with Petr and let you know.

All screens are on [zeplin](https://app.zeplin.io/projects?pid=5ec4dfb6824fd12f62639331). I have uploaded [this screen](https://app.zeplin.io/project/5ec4dfb6824fd12f62639331/screen/5eea10f3fa85b246e9c7afb5) to TT via  `git checkout toif-upload`
and `tools/toif_upload image.png` and it seems readable just fine _but_ it is true some

[2020-07-23 09:38] tsusanka commented on #1122
Ok, sorry for the confusion, Petr was inaccurate. We want to add the aforementioned fonts and keep Roboto Mono exactly for addresses, amounts etc. I will edit it above.

[2020-07-23 09:42] tsusanka commented on #434
I believe this has been done: https://app.zeplin.io/projects?pid=5ec4dfb6824fd12f62639331

[2020-07-23 09:42] #434 closed

[2020-07-23 12:06] wendys-cats commented on #1065
This issue has been tested via Asana request from @tsusanka. It has been solved on 2.3.2, 1.9.x has not been affected with the bug. Full run here.
Tested on 2.3.1 (c6b2580cd), 2.3.2 (33d2bf4), 1.9.1 (c6b2580cd), 1.9.2 (33d2bf41) here and here. Comment per request from @tsusanka.

https://github.com/trezor/trezor-suite/issues/2124#issuecomment-662960496

[2020-07-24 09:13] matejcik opened #1130 "trezorctl: unify option arguments"
due to the development history, similar subcommands in `trezorctl` have wildly different parameter conventions:

* To enable pin, use `trezorctl set pin`. To disable pin, use `trezorctl set pin -r`
* To enable passphrase, use `trezorctl set passphrase enabled`. To disable, `trezorctl set passphrase disabled`
* To enable SD-protect, use `trezorctl device sd-protect enable`. To disable, use `trezorc

[2020-07-24 10:44] tsusanka commented on #1044
Ping @greenaddress could you please answer @matejcik's question?

[2020-07-24 11:56] tsusanka commented on #948
@gabrielKerekes is the date for the Shelley hard-fork still July 29th?

[2020-07-24 12:12] tsusanka commented on #1038
Closed by #1089 and #1128.

[2020-07-24 12:12] #1038 closed

[2020-07-24 12:17] tsusanka commented on #1095
Please reopen in case you (or anyone) reproduce this.

[2020-07-24 12:23] tsusanka commented on #948
Closed by #1096 and #1112 and waits for PR number 3.

[2020-07-24 12:23] #948 closed

[2020-07-24 12:31] tsusanka commented on #1114
Related to #590.

[2020-07-24 13:00] hiviah opened #1131 "Firmware spends a lot of time looking up qstrings"
**Describe the bug**
Signing code (and probably other code) spends abou 33% in `qstr_find_strn`.

**Firmware version and revision**
2.3.1 with synchronous protobuf branch

**To Reproduce**
Use `pytest tests/device_tests/test_msg_signtx_segwit.py::TestMsgSigntxSegwit::test_lots_of_segwit_inputs` test from `tsusanka/streaming-timing` branch.

Probably any signing test will suffice, I can see the qst

[2020-07-24 13:02] mmilata opened #1132 "Don't wrap UI operations in unimports when bitcoin signing"
Follow up of #1108. The unimports are _probably_ not needed and make the code less readable.

Question: can removing the unimports cause the firmware to run out of memory? Is running the device tests (on an actual device) enough to check that it doesn't happen?

[2020-07-24 13:02] matejcik opened #1133 "wording for "Safety checks" feature"
in #1126 we introduced "Unsafe prompts" setting. This is confusing because of double-negatives: "enabling unsafe prompts" is the weaker setting and "disabling" is stronger.

We came up with an idea to rename this to "safety checks", with configurable levels, the default being "strict".

For trezorctl, we should change:
* `trezorctl set unsafe-prompts off` to `trezorctl set safety-checks strict`
*

[2020-07-24 13:05] matejcik commented on #1132
It could in theory, but I believe we have large enough margins for Bitcoin signing in particular.

The best way to figure out if that doesn't happen is to run some tests with the white-noise homescreen set. @bosomt is skilled at that .)
Perhaps we could make a special FW build where the white-noise homescreen is the default? So that this can run the device-tests suite?

[2020-07-24 13:19] prusnak commented on #1131
I just did a small experiment, I patched our copy of the micropython using the following (removing `qstr_find_strn` lookups from `objstr.c`:

[code]

I confirmed this boots and works correctly for a very simple scenario (get-features).

@hiviah Could you please try this patch with `test_lots_of_segwit_inputs` and compare the timing and orbtop output before and after applying the patch? Thanks!

[2020-07-24 13:24] matejcik commented on #1131
we could make `trezorutils.decode_bytes(b: bytes, offset: int = None, length: int = None) -> str` function that would simply call, presumably, `mp_obj_new_str_copy`?
and use this in protobuf code

this would have the added advantage that the data could go straight from the USB buffer to the string (Currently we need to allocate an intermediate bytearray. I'm not sure if there is some sort of COW u

[2020-07-24 13:39] prusnak commented on #1131
This sounds neat!

[2020-07-24 13:40] tsusanka commented on #1108
Closed by #1128, unimports moved to #1132.

[2020-07-24 13:40] #1108 closed

[2020-07-24 13:50] matejcik opened #1135 "BIP-32 path schema support"
To fix the rest of #1064 and implement stronger checks in individual operations, we want to be able to specify BIP-32 path schemas in code in some human-readable (and writable) form.

I have a working sample of this, PR will follow shortly.

It might also be beneficial to use this in Keychain instead of namespaces.

[2020-07-24 13:51] matejcik commented on #1135
as part of this let's also improve readability or documentation of the Keychain code, in particular: https://github.com/trezor/trezor-firmware/pull/1126#discussion_r460001706

[2020-07-24 14:03] prusnak commented on #1131
I pushed a new branch: [decode_bytes](https://github.com/trezor/trezor-firmware/tree/decode_bytes) where I implemented @matejcik's idea (without variable offset/length and I only replaced `decode` call only in `protobuf`). Can you @hiviah test that branch as well?

[2020-07-24 14:33] hiviah commented on #1131
With the qstr patch, the lots_of_segwit_inputs test takes 5:22, compared to 7:09 without the patch.

The profile also shows much less time in `qstr_find_strn`:

        % FUNCTION
     8.17 *SLEEP*
    21.39 gc_collect_end
     8.73 gc_mark_subtree
     8.28 gc_alloc
     7.75 mp_map_lookup
     5.99 mp_execute_bytecode
     5.34 sha256_Transform
     3.25 memset
     2.83 bn_multiply_reduce_step

[2020-07-24 14:53] tsusanka opened #1137 "Strengthen soft-checks in get_address and similar"
Follow-up of #1064. Let's strengthen soft-checks in get_address and similar to a hard fail unless the "safety_checks" setting is not set.

Let me discuss this in Product first, this can be sensitive for some 3rd parties.

[2020-07-24 14:53] tsusanka commented on #1064
Moved to #1137.

---

So I believe we can close this one @matejcik?

[2020-07-24 14:59] matejcik commented on #1064
i think so too. closing.

[2020-07-24 14:59] #1064 closed

[2020-07-24 15:20] hiviah commented on #1131
The `decode_bytes` branch seems to be a slower than original - 7:55 instead of 7:09. The `qstr_find_strn` is still called often which suggests that it's called from other parts of code, maybe even micropython's builtin functions:

        % FUNCTION
     9.20 *SLEEP*
    30.34 qstr_find_strn
    14.01 gc_collect_end
     7.07 mp_map_lookup
     5.31 gc_alloc
     4.93 mp_execute_bytecode
     4.65

[2020-07-24 16:06] tsusanka opened #1138 "Release commit messages prebuild job does not work properly"
FAILURE! Neither 'cherry picked from..' nor '[NO MASTER]' substring found in this commit message.

[2020-07-24 19:27] ahmedbodi opened #1139 "Crown Sign Message forbidden key path"
With an upto date trezor on version 2.3, using the following command:

trezorctl sign-message -n "m/44'/72'/0'/0/0" "ahoy"

Returns the following error:
Error: DataError: Forbidden key path

Running on OSX using latest python trezorlib

[2020-07-24 19:29] ahmedbodi commented on #1139
Main reason for testing this, I'm working on the crown electrum, and when signing a message it produces a signature, when verifying it, the address that it seems to think the message came from via the public key is different so thats why i decided to test it with trezorctl

[2020-07-24 19:41] ahmedbodi commented on #1139
Figured that part out but it still doesnt work:

trezorctl get-address -c Crown -t address -n "m/44'/72'/0'/0/0" == no address

trezorctl sign-message -n "m/44'/72'/0'/0/0" -c Crown "ahoy"
Please confirm action on your Trezor device.
message: ahoy
address: <null again>
signature: H4Pb55+Uo2Xc2PUGnMksimKMdw1Oo+qsTcrL4UO7sBAbDsuqtzvFZCqfBEmeTrHpmpEsCZXIge30aX+WBaSSukc=

[2020-07-25 08:06] hiviah commented on #1131
I put together the qstr patch, removing of gc.collects in bitcoin signing and merged the #1136  unimport branch as a test.

The final time for the `lots_of_segwit_inputs` test is now down to 4:20 (we started at something over 10 min when streaming was first implemented).

However I wonder whether the qstr patch won't make memory pressure or fragmentation worse.

[2020-07-25 21:19] jpochyla commented on #1131
I think it's not a good idea to use `mp_obj_new_str_copy` for this, as the backing buffer from the bytearray can be transferred directly to the str, instead of copied and thrown away.

[2020-07-27 05:49] bosomt opened #1141 "FIDO2 site name mismatch"
**Describe the bug**

I just tried to register new FW version to Github.com.
See screenshots. Device was already registered.
After I removed previous device I saw correct site name.

Even after I tried again to register it and it was was already registered I saw Github.com

**Firmware version and revision**
2.3.2 9bcab40 freeze
and white noise background

**Desktop/smartphone setup (please complet

[2020-07-27 07:25] tsusanka commented on #1139
Confirming `trezorctl get-address -c Crown -t address -n "m/44'/72'/0'/0/0"` does not show any address on current master (fdcb64ac2475b2fb738c75e97e6d110673e5b791). No error in emulator log though.

[2020-07-27 07:52] bosomt commented on #1141
+ I had issue with Dropbox when registering, new token was registered but device display looked like this till i sent new request to device :

![image](https://user-images.githubusercontent.com/31506317/88517135-b1c70e00-cfee-11ea-8239-809cb2d5e6ed.png)

[2020-07-27 08:09] tsusanka opened #1142 "Unable to run device tests on TT"
**Describe the bug**
Unable to run device tests on TT. Trezor does not answer DebugLinkGetState message.

**Firmware version and revision**
Current master (8dacad0).

**To Reproduce**
Steps to reproduce the behavior:
1. Connect Trezor T with debug mode enabled.
2. `pytest -vs tests/device_tests/ -k test_reset_device_slip39_advanced`

**Additional Context**
Full log: https://gist.github.com/tsusank

[2020-07-27 08:21] tsusanka commented on #1142
@mmilata wrote:

[code]

[2020-07-27 11:28] matejcik commented on #1139
this problem must have existed since 6ff644c3045b9d0d9c0327a21f44d208bd92ea21, but nobody noticed for over a year. goes to show how many users use CRW

[2020-07-27 11:50] andrewkozlik commented on #1141
There are two separate issues:
1. GitHub: I am unable to reproduce this but I have a hypothesis of what happened. GitHub used to have two RPIDs. One for U2F (https://github.com/u2f/trusted_facets) and one for FIDO2 (github.com), now they use github.com for both and it looks like they switched to FIDO2 completely. I think the device was previously registered with GitHub via U2F (using a browser whi

[2020-07-27 12:13] ahmedbodi commented on #1139
not neccesarily, there wasnt a working electrum wallet that was updated. Its a project ive just taken up. there's lots of users but they all use the core wallet

[2020-07-27 12:18] mmilata commented on #1142
When running all device tests in random order, I've seen getting stuck on:

[code]

[2020-07-27 17:22] bosomt opened #1143 "Homescreen is not redrawn after some dialogs"
**Describe the bug**
Sometimes it happens that device display or suite or some U2F/FIDO2 login dialgoue
will stay opened after I confirm unlock PIN dialogue.
I will add more information during test of new 4eb5b927 revision

**Firmware version and revision**
2.3.2 9bcab40 freeze
and white noise background

**Desktop/smartphone setup (please complete the following information):**
 - Wallet software:

[2020-07-27 17:22] bosomt commented on #1141
@andrewkozlik sent that second issue as issue ;) https://github.com/trezor/trezor-firmware/issues/1143

[2020-07-27 17:26] bosomt commented on #1141
@andrewkozlik about that first/master issue ,

i think you are right, I was not able to reproduce it when i removed/added/added second time via Chrome. Maybe I can try to replicate it via Firefox, last time I heard that it doesn't support FIDO2, correct me if I'm wrong. So I can add via Firefox and try add once again via Chromium if needed to confirm this suspicion.

[2020-07-27 19:01] andrewkozlik commented on #1141
Thanks!

I tried replicating it via Firefox as you describe, but I wasn't successful, because Github seems to have stopped using "https://github.com/u2f/trusted_facets" for U2F in favor of "github.com".

[2020-07-27 19:07] bosomt commented on #1141
@andrewkozlik I just tried and , yes I was not successful to replicate it via Firefox add and Chromium duplicate add

[2020-07-28 08:41] prusnak commented on #1122
Added PixelOperator font (for T1) to Trezor Core in https://github.com/trezor/trezor-firmware/commit/47e75504239a988db7c82a871a2bf0075c2393bb

[2020-07-28 08:44] matejcik commented on #1139
@ahmedbodi @ashotkhachatryan the Crown definition states that `min_address_length` is 36 and `max_address_length` is 40.
Under what circumstances will the address have more than 36 characters?

[2020-07-28 08:51] #1132 closed

[2020-07-28 10:42] matejcik commented on #1142
got a stack trace:
[code]

[2020-07-28 11:31] matejcik commented on #1142
The problem is that by default the test suite enables layout recording, and most test cases don't actually read the layouts.

So in testcases with many screens, as listed above, the list might grow too big and the RAM too fragmented to handle the next step increase.
(2048 bytes matches a list that has grown beyond the allocated size of 1024 bytes = 256 items)

i'm not entirely convinced that this

[2020-07-28 13:50] sorooris opened #1148 "Double PIN entry when disabling PIN after autolock timeout"
**Describe the bug**
PIN entry enforced twice before disabling it in Wallet; to unlock the device after autolock timeout and then again after PIN disabling confirmation dialog on device.

**Firmware version and revision**
tested 2.3.2 regular 4eb5b92

**Desktop/smartphone setup (please complete the following information):**
 - Wallet software: Mytrezor 0c93d2e64b0889b713d875a9483955fd2a71d12a
 - O

[2020-07-28 13:57] tsusanka commented on #1148
While you are properly right this may seem redundant I believe asking for PIN again makes sense becuase turning off PIN is a big thing. I don't think it's worth the hassle to worry about this.

[2020-07-28 14:02] sorooris commented on #1148
okay, thanks for confirming - closing.

[2020-07-28 14:35] tsusanka commented on #1148
But let's also see what other think - @prusnak @matejcik @andrewkozlik.

[2020-07-28 15:05] andrewkozlik commented on #1148
1. From a UX perspective I am not happy about this.
2. From a programmer perspective I see two cases:
    (a) Changing or disabling PIN or the wipe code: This doesn't seem worth the hassle to improve the UX, because we need to provide the correct PIN to the `change_pin()` C-function. That means we would need to carry the PIN entered in the lockscreen over to the change PIN workflow. Probably not d

[2020-07-28 19:33] ashotkhachatryan commented on #1139
@matejcik I just checked. The Crown address will always be 36 characters.

[2020-07-28 22:11] prusnak commented on #1122
Trying new fonts for core in the `new-fonts` branch - it currently fails, but one can see the new screenshots in the `ui tests` artefacts.

[2020-07-29 08:41] matejcik commented on #1148
re (a) we could use something akin to passing the preauth object -- either for a fixed set of messages, or make all handlers accept a "preauthorization" argument.

In fact this might be something to add to the `Context` object? Whose role is rather unclear at this point. I'd expect the `Context` to be bound to a session in the future, maybe we could start working on it now? It would require some t

[2020-07-29 08:56] andrewkozlik commented on #1148
Sounds sensible. However, I wouldn't want the PIN lying around there longer than it has to and storing the PIN in the `Context` would have to be restricted to a subset of messages (`ChangePin`, `ChangeWipeCode`, `SdProtect`).

[2020-07-29 13:08] invd opened #1149 "Initialize all local variables explicitly in extmod C code"
During security research, I recently noticed that the C code in modtrezorcrypto does not explicitly initialize all local variables, which it should after #571.

Example:
https://github.com/trezor/trezor-firmware/blob/741fca01567151fa9dad2e9d25db7236169fb697/core/embed/extmod/modtrezorcrypto/modtrezorcrypto-monero.h#L524-L526

Other extmod modules such as modtrezorui contain uninitialized variables

[2020-07-29 13:30] sorooris commented on #1148
@andrewkozlik
Device: 2.3.2 regular 4eb5b92
Mytrezor wallet: develop branch, commit 0c93d2e64b0889b713d875a9483955fd2a71d12a
- FIDO2 - tested on [webauthn](https://webauthn.io/) and PIN is asked only once for unlocking the device for both registration and login.
- Dry-run:

1. PIN dialog is displayed (to unlock device)
2. Dry-run confirmation screen is displayed
3. **PIN dialog is displayed again*

[2020-07-29 16:51] tsusanka commented on #1142
@matejcik I am still unable to run the whole test suite on device. Recovery is just fine but `test_msg_webauthn.py` is failing for me even when run on its own using `pytest -s tests/device_tests/test_msg_webauthn.py`. Haven't we discussed we will lower the number of allowed residential credentials?

Tested on b6ec3de72a81615ef2bbae1519897f335f5106b5

[2020-07-29 16:59] tsusanka commented on #1142
Works fine with 75759cba943b57107ed4a382bd3bb5a20bba3ff1 as suspected but we need to discuss it obviously.

[2020-07-30 09:02] LeoComandini commented on #1044
`subaccount_pointer` must be less than 16384
https://github.com/Blockstream/gdk/blob/master/src/ga_session.cpp#L1959

`pointer` must be less than 0x80000000
https://github.com/Blockstream/gdk/blob/master/src/ga_session.cpp#L1700-L1703

For `address_pointer`, there is no explicit limit, but the server enforces that are generated incrementally (no gaps) and does some rate limiting. Thus the same lim

[2020-07-30 09:54] invd opened #1151 "undefined behavior in shamir unbitslice()"
### UB in unbitslice()
During fuzzing, I've discovered an edge case in the shamir crypto code:

https://github.com/trezor/trezor-firmware/blob/741fca01567151fa9dad2e9d25db7236169fb697/crypto/shamir.c#L64
[code]

The problem here is that `(1 << arr_idx)` is undefined for `arr_idx = 31` due to C integer handling.

### Upstream
This appears to be a problem in the upstream code as well:
https://github

[2020-07-30 09:58] onvej-sl commented on #1149
Thank you for the report, @invd. This is not covered by #571 by mistake. It looks like I forgot about extmod modules (see https://github.com/trezor/trezor-firmware/issues/571#issuecomment-538419102).

I'll make a pull request.

[2020-07-30 11:01] tsusanka commented on #1044
@LeoComandini Thanks!

--

Also @greenaddress @jlopp do you think you could find a few minutes and test current master against your products? It should be fixed in master.

[2020-07-30 13:14] #982 closed

[2020-07-30 13:27] #1115 closed

[2020-07-30 13:43] andrewkozlik commented on #1141
I changed the way we display the application labels so that you should never see something like "https://github.com/u2f/trusted_facets". In U2F we used to translate it to GitHub, but in FIDO2 we didn't translate it. Now I unified the behavior so that it will always show up as "github.com" everywhere. The same applies to all the other U2F applications, e.g. instead of "Slush Pool" users will always

[2020-07-30 13:43] #1141 closed

[2020-07-31 08:21] tsusanka commented on #1051
@mmilata this is something you might look at in case you find yourself eager to do some github issue :). Might be good to grasp another parts of the code.

[2020-07-31 09:16] tsusanka commented on #1044
@greenaddress @jlopp We will leave these exceptions for now, but we will most likely reevaluate it next year. Don't worry it won't happen before July 2021, but the time might come when we decide to forbid these paths. We will definitely allow them for people that will explicitly ask for it via the trezorctl settings (see #1064) but it might be an inconvenience for your users. So in a nutshell: we

[2020-07-31 11:48] tsusanka opened #1154 "Viability of "screensaver-like" autolock"
As a followup of #1099 we have discussed the autolock acts problematically when the user is doing a backup/recovery. For example in case the user has a very low autolock delay (10s) and they read the mnemonic words longer than the 10s (which sounds reasonable) the device autolocks itself and completely aborts the backup process. What's even worse is that since the backup is aborted it can not be d

[2020-07-31 12:30] tsusanka commented on #1122
Petr's library:

![Image from iOS](https://user-images.githubusercontent.com/1835345/89034986-612b1a00-d33a-11ea-82c8-358ddcb72eab.png)

but we want to discuss this further.

[2020-07-31 14:38] prusnak commented on #1122
Current mapping `new-fonts` branch:
* normal -> TT Hoves Regular 18
* medium -> TT Hoves Medium 20
* bold -> TT Hoves Bold 16
* mono -> Roboto Mono Regular 20

[2020-08-02 22:44] wendys-cats opened #1156 "Connectivity error in Monero wallet GUI when TT is locked"
**Describe the bug**
When creating OR entering wallet, Monero-wallet-GUI responds with errors (Device connect failed). This occurs exclusively when auto-lock-delay feature is set, and the device is locked at the time of request. Seems that Monero-wallet-GUI either checks for device in a similar fashion to trezorctl (i.e. will respond with "Failed to find a trezor device" if it is locked), or firmw

[2020-08-03 07:15] tsusanka commented on #1156
@ph4r05 is this something you might have a look at when you have a bit of time? We have added an auto-lock feature for TT and during that we have added a new Button Request "PinEntry" which denotes that PIN is being requested.

[2020-08-03 07:19] tsusanka commented on #1087
@mmilata would you be interested in a small research? Let's have a look on the current fee limits. That means create a table for top10 coins that we support (from coinmarketcap.com) and list for each one of them:
-

[2020-08-03 07:28] tsusanka commented on #1087
@mmilata would you be interested in a small research? There are two things we would like to look at.

---

First let's have a look on the current fee limits. That means create a table for top10 Bitcoin-like coins that we support (or simpler way: use the ones that we currently support in wallet.trezor.io) and list for each one of them:
1. The current maxfee_kb.
2. The current fee_threshold for a "t

[2020-08-03 08:54] matejcik commented on #35
I'm currently thinking about "semantic ButtonRequests" that we talked about at some points.

From the layouting thing, ISTM the solution is to extend the `ButtonRequest` so:
[code]
IOW, reduce every layout to a set of string keys and string (**only!**) values.
in addition, a string (not enum) for "type", so that this is easily extensible and can be more descriptive.

no further structuring.
let's

[2020-08-03 09:35] mmilata commented on #1087
@tsusanka sure, can do that

[2020-08-03 10:08] tsusanka commented on #706
Related to #416.

[2020-08-03 11:41] tsusanka commented on #35
That looks great! Some quick remarks from @szymonlesisz or @mroz22?

[2020-08-03 13:32] andrewkozlik opened #1157 "Await in core unit tests"
In core unit tests, if an `await` call is placed in a function, it will cause the entire test function not to be invoked at all. However, at the same time the test suite will mark the test function as passing successfully even though it didn't run. In these situations the test suite should fail the function.

[2020-08-03 15:43] tsusanka commented on #58
Since we are currently limiting derivation paths to each coin this is less important than it used to be. The design and Suite should also help with this significantly. Therefore we have decided in the Product team we do not want to implement this at the moment.

[2020-08-03 15:46] tsusanka opened #1159 "Do we print coin name during message signing?"
We should print the Coin name during message signing so the attacker can not trick the user into signing a message with a different coin than intended.

[2020-08-03 15:47] tsusanka commented on #1159
@mmilata do you think you could have a look please?

[2020-08-03 15:50] tsusanka commented on #577
We have decided in the Product team that we do not need to deal with this edge case. Advanced Shamir is ... well, advanced, so this should be encountered only by advanced users and quite rarely.

[2020-08-03 15:50] #577 closed

[2020-08-03 16:29] andrewkozlik commented on #1053
@hiviah

**Documentation copied from the PR:**

The implementation enables the following flow:
1. The client application sends an `AuthorizeCoinJoin` message. The parameters for user approval include:
    - The coordinator name, e.g. "www.trezor.io".
    - The maximum total fee.
    - BIP32 account path of the inputs and their script type.
    - Optionally the fee per anonymity set as a uint32 in

[2020-08-03 17:12] andrewkozlik opened #1160 "Tweak CoinJoin transaction checks"
As the integration of the CoinJoin feature develops we should revise and tweak the rules for CoinJoin transaction validation in Trezor which were implemented in https://github.com/trezor/trezor-firmware/pull/1127:

- The implementation assumes standard account paths are being used (purposes 44, 45, 48, 49, 84). If a different purpose value is used in the BIP32 path, then the user will need to expl

[2020-08-04 08:27] #1157 closed

[2020-08-04 08:37] matejcik commented on #58
That's a weird rationale.
The original issue is that the user can be confused/tricked into signing a transaction of the wrong funds on the wrong chain. So this very much still exists regardless of derivation paths. This is purely a UX issue, Suite can't help because it is on the host side, so "design" is the only place to resolve this, and I think that this issue is specifically about "keep this t

[2020-08-04 08:56] tsusanka commented on #58
Our rational was that the user can no longer be tricked because when they are on coin X they can't use paths for Y. But you raising a point when user would like to use X coin with X paths but is tricked to use Y coin with Y paths, do I understand it correctly?

Our rational was that in transaction signing Trezor displays the amount with the coin abbreviation so user should notice if they are signi

[2020-08-04 09:03] matejcik commented on #58
(...)

Exactly. Plus, this is even more relevant in case of tokens.

[2020-08-04 12:23] prusnak opened #1163 "Disable Core features for T1 port"
Currently the T1 port includes the following features which are not available on T1:

  - `core/embed/extmod/modtrezorio/modtrezorio-fatfs.h`
  - `core/embed/extmod/modtrezorio/modtrezorio-sdcard.h`
  - `core/embed/extmod/modtrezorio/modtrezorio-sbu.h`

We should remove these from `core/embed/extmod/modtrezorio/modtrezorio.c` and make sure these (`trezor.io.fatfs`, `trezor.io.sdcard`, `trezor.io.s

[2020-08-04 12:50] #1149 closed

[2020-08-04 15:33] #1053 closed

[2020-08-04 17:12] bosomt commented on #1156
I was not able to reproduce it with same Win10 0.16.0.2 version
FW 2.3.2 revision 731e9b7
/not like Electrum where it happens everytime/

[2020-08-04 18:55] tsusanka commented on #673
Hi there, thank you for your suggestion. After a thorough discussion in our Product team we have decided we do not wish to implement this feature. We need to prioritize our backlog and focus on features that bring the most value to our customers. We also need to restrict the feature set to keep the firmware small and maintainable. Thank you for your understanding.

[2020-08-04 18:55] #673 closed

[2020-08-04 18:55] tsusanka commented on #817
Hi there, thank you for your suggestion. After a thorough discussion in our Product team we have decided we do not wish to implement this feature. We need to prioritize our backlog and focus on features that bring the most value to our customers. We also need to restrict the feature set to keep the firmware small and maintainable. Thank you for your understanding.

[2020-08-04 18:55] #817 closed

[2020-08-04 18:56] tsusanka commented on #986
Hi there, thank you for your suggestion. After a thorough discussion we have decided we do not wish to implement this feature. We need to prioritize our backlog and focus on features that bring the most value to our customers. We also need to restrict the feature set to keep the firmware small and maintainable. Also this would require some backwards-compatible support in a delicate part of the cod

[2020-08-04 18:57] #986 closed

[2020-08-05 09:25] sorooris opened #1166 "Autolock overrides on device passphrase entry"
**Describe the bug**
Autolock overrides on device passphrase entry which locks the device and cancels the passphrase entry action in Suite/Wallet.

**Firmware version and revision**
2.3.2 731e9b7c with relatively short autlock time set (10s) and passphrase entry always on device

**Desktop/smartphone setup (please complete the following information):**
 - Wallet software: Wallet develop, Suite dev

[2020-08-05 09:42] tsusanka commented on #1166
I have tested this and the device locks itself. IMHO that is expected behaviour. It is true we should do #1154 though.

[2020-08-05 10:46] prusnak opened #1167 "Support 50-digit PIN"
This was implemented by exeabyss in https://github.com/trezor/trezor-firmware/pull/721 - more particularly in commit  https://github.com/trezor/trezor-firmware/commit/45534168a75f3b59d72e28a0b146b583019a0a34

The commit needs some love and implementation for Model T is missing, but we need to address the master question first:

Do we want to increase the maximum length of the PIN from 9-digits to

[2020-08-05 11:49] sorooris commented on #1095
Reproduced successfully by accident with 2.3.2 rev cde8f31e
![image](https://user-images.githubusercontent.com/10185314/89409228-03c01000-d722-11ea-8f8a-58cf95129716.png)
Wallet: develop 80096add47b6b06e726f1650970710d4fa2ccb3e
Will try to reproduce again.

[2020-08-05 11:52] matejcik commented on #1142
this should be fixed in #1168

[2020-08-05 11:54] tsusanka commented on #1095
@sorooris did you have a clean device (no firmware) or did you have something installed previously?

[2020-08-05 11:55] sorooris commented on #1095
Device had previously the 2.3.2 revision 731e9b7c installed.

[2020-08-05 12:00] sorooris commented on #1095
I was able to reproduce the RSOD again.
I still need to verify if it was just luck or pure magician skills. I'll keep you updated with steps in a minute.
![image](https://user-images.githubusercontent.com/10185314/89410342-db391580-d723-11ea-8645-b98e04941f93.png)

[2020-08-05 12:08] sorooris commented on #1095
I was able to identify how to reproduce this RSOD.

Steps to reproduce:
1. connect a previously disconnected device to computer
2. wait the time until the red warning screen is displayed
3. start tapping the device screen frantically and as fast as possible

Bug happens right after the last step.

[2020-08-05 12:25] matejcik commented on #1095
good job triggering this! a fix is coming shortly

The problem is that if a `TOUCH` event arrives before a `REPAINT` event (which is under normal circumstances the first thing that happens), the homescreen class is not fully initialized yet.
It probably wouldn't happen in a production FW due to the introductory red screen missing, but still, good to squash this one.

[2020-08-05 12:28] matejcik commented on #1095
could you retest with firmware from [here](https://gitlab.com/satoshilabs/trezor/trezor-firmware/-/pipelines/174555160)

[2020-08-05 12:40] #1095 closed

[2020-08-05 12:40] sorooris commented on #1095
**QA OK**
Couldn't replicate the bug however frantically I tried to tap the screen :smile:
Tested with the 2.3.3 build revision cea63415.

[2020-08-05 13:17] tsusanka commented on #1156
Could @bosomt discuss with @wendys-cats whether this is worth investigating or not? Unless there is a clear path to reproduce the error I am not sure it makes sense.

[2020-08-05 13:20] tsusanka commented on #1108
QA has tested this as part of the freeze testing.

[2020-08-05 13:20] tsusanka commented on #1038
QA has tested this as part of the freeze testing.

[2020-08-05 13:21] tsusanka commented on #1093
@sorooris for formal reasons could test this with the latest 2.3.2 RC please?

[2020-08-05 14:12] yohaaan opened #1169 "Remove CyberMiles"
Please, remove CyberMiles token from firmware and https://trezor.io/coins/#CMT as it has launched mainnet and the ERC20 token is obsolete basically and therefore confusing for users

[2020-08-05 14:48] prusnak opened #1170 "Fix deterministic build for Core release firmware"
Running `./build-docker release/2020-08` returns different results on different machines.

It seems the deterministic build using Nix does not work well for Core build. We need to figure out what's causing the issue.

Oddly enough, the legacy build using Docker works just fine.

[2020-08-05 14:59] prusnak commented on #1170
It seems that Python upgrade broke the Resource collection script - using dict is now non-deterministic.

[2020-08-05 15:12] prusnak commented on #1170
Should be fixed by https://github.com/trezor/trezor-firmware/commit/65805c91454a9934be0c6ea9445188f935f297eb

Let's wait for the CI

[2020-08-05 15:14] sorooris commented on #1093
**QA OK**
tested with 2.3.2 cea6341
following message was displayed when setting values less than 10
[code]

[2020-08-05 15:17] prusnak commented on #1170
Confirmed that was the cause :D

[2020-08-05 15:17] #1170 closed

[2020-08-05 20:42] tsusanka commented on #1142
I was able to run regular device tests on an actual device on release/2020-08 branch (cde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea) with d776cc931bf8b412ac8af7eae709efc584f7b0cd and 741fca01567151fa9dad2e9d25db7236169fb697 cherry-picked.

The test suite was halted twice on some screens (test_msg_eos_signtx.py and bcash signtx). After I have confirmed the dialogs manually the test suite has continued.

[2020-08-05 22:07] tsusanka commented on #1138
Hopefully fixed by 01ac2ec48d984f90feaf65fd127131eaf6c15447.

[2020-08-05 22:07] #1138 closed

[2020-08-06 03:48] seperatis commented on #1030
Updated to new firmware today. Still cannot send Zcash.

`Failed to send transaction
Error details: specified a negative value for writing an unsigned value`

[2020-08-06 07:51] prusnak commented on #1030
@seperatis This is unfortunately different issue in a library we use. We've reported the issue here and we are investigating it too: https://github.com/BitGo/bitgo-utxo-lib/issues/83

[2020-08-06 07:58] matejcik commented on #1142
`test_softlock_instability` is expected to fail on device because `reseed()` does not exist in hardware builds. Let's not change that, but if we had a way to determine that the test is running on a physical hardware, we can xfail it.

[2020-08-06 08:15] matejcik commented on #1142
I was unable to reproduce the `test_2_of_3` failure so far. Neither the others, but I have not finished the full suite yet.

[2020-08-06 08:21] tsusanka commented on #1142
Hm I am unable to reproduce `test_2_of_3` again neither on master nor on the release branch (plus fixes) :/.

[2020-08-06 08:52] tsusanka commented on #1109
I have run a quick test of this and it actually fails on Wallet as well. On the "Missing amount field" error. I let QA test the 3rd parties (Electrum, MyCelium and Exodus) but I guess it will break them as well.

[2020-08-06 09:25] HeroHann commented on #1167
I don't know if I am even allowed to comment on this...anyway:

IF there is a security advantage with more digits AND the user can still choose to only use 6 or 9 or 12 digits. Why not?

[2020-08-06 12:39] tsusanka commented on #1143
@bosomt can you still reproduce this on the released 2.3.2? And then on current master?

[2020-08-06 12:43] tsusanka commented on #1055
Mostly done in #1094.

[2020-08-06 12:43] #1055 closed

[2020-08-06 12:47] bosomt commented on #1143
@tsusanka i was not able to reproduce it with 2.3.2 release.
 i'm still testing new FW with new suite,
I will close it in few hours if i won't be able to reproduce it

[2020-08-07 04:16] bosomt commented on #1143
i was not able to reproduce it with 2.3.2 63ebb8ccb

[2020-08-07 04:16] #1143 closed

[2020-08-07 06:06] guiand88 opened #1172 "Documentation update - trezorctl webauthn-list-credentials"
Apologies if this is not the right place where to post this.
The documentation at https://wiki.trezor.io/FIDO2_Credentials would need an update as it still refers to the deprecated command `trezorctl webauthn-list-credentials` .

_Originally posted by @andrewkozlik in https://github.com/trezor/trezor-firmware/issues/698#issuecomment-603138026_

[2020-08-07 07:58] prusnak commented on #1172
Updated, thanks! (It will take some time until the change is propagated to the public wiki, but it's been changed already)

[2020-08-07 07:58] #1172 closed

[2020-08-07 09:50] #1169 closed

[2020-08-07 11:53] #1139 closed

[2020-08-07 13:44] prusnak commented on #338
Closing, see the reason here: https://github.com/trezor/trezor-firmware/pull/360#issuecomment-668766229

[2020-08-07 13:44] #338 closed

[2020-08-10 07:06] prusnak opened #1177 "Confusing Version Group ID error message"
Log from the wallet:

[code]

The following check, while technically correct, spits confusing error message when `version<3` and `version_group_id==0` is provided:

https://github.com/trezor/trezor-firmware/blob/1e58c86a9af9b891abe13fad7866f5852786941f/legacy/firmware/signing.c#L1335-L1341

We can either make the wording less confusing

`Version and version_group_id mismatch` (is that even less co

[2020-08-10 07:15] prusnak commented on #1177
There is a pending fix for trezor.js here: https://github.com/trezor/trezor.js/pull/113

[2020-08-10 09:50] hiviah commented on #946
Also the firmware should be immediately booted after loading it via bootloader and not reset (otherwise we would get bootloader bootloop).

[2020-08-10 10:48] gabrielKerekes commented on #438
@matejcik I think this can be closed now thanks to the Shelley update? Fee is no longer calculated from previous transactions, but is included in the transaction itself and it also can't be negative.

[2020-08-10 10:50] matejcik commented on #438
agreed

[2020-08-10 10:50] #438 closed

[2020-08-10 12:24] hiviah commented on #946
The bootloader will delete storage on boot to make testing deterministic.

[2020-08-11 21:46] mmilata commented on #1087
@tsusanka For some of the bitcoin-based coins, the threshold for 250B transaction is following:

| Coin | `maxfee_kb` | `fee_threshold`        | USD rate | `fee_threshold` (USD) | hard limit (USD)         |
| :--- | ----------: | ---------------------: | -------: | --------------------: | -----------------------: |
| BTC  | 2000000     | 500000 sats = 0.005    | 11500.0    | 57.5

[2020-08-12 13:23] andrewkozlik commented on #1167
Correct me if I am wrong, but as I recall @tsusanka told me several months ago that he discussed this at one of the product meetings and the decision was to go ahead and implement unlimited PIN length. So I think we can remove the "Product Owner" label. BTW, by "unlimited" I mean that the solution should not introduce any hard limitations on the length, like we have now. Of course we will set some

[2020-08-12 14:02] matejcik commented on #1167
I assumed we could see storage version before unlock, which tells us which method to use for decoding.

There are two "versions", right? The "field format version" and the "norcow version". I assumed we would have to bump the norcow version, is that not the case? Can the low-level format stay the same?

[2020-08-12 14:02] matejcik commented on #1167
btw perhaps this is another reason to `public`ize the version field?

[2020-08-12 15:52] andrewkozlik commented on #1167
I am not sure what you mean by the "field format version". There is the norcow version, which is used by norcow.c and storage.c. It's written in the storage twice, once in plaintext and once encrypted+authenticated to protect against downgrade attacks. This is the version that will get bumped. The format will appear the same but some values will be computed differently. No other module should be i

[2020-08-12 17:55] bosomt commented on #1141
2.3.2 63ebb8ccb

Dropbox - Register U2F, Login FIDO2 - Logo + Dropbox
GitHub   - in progress
Binance - in progress

[2020-08-13 17:07] mmilata commented on #1051
The coverage records contain out-of-range line numbers. This is caused by `mpy-tool.py` corrupting the line number information during module freezing. Opened upstream PR to fix it:  micropython/micropython#6335

[2020-08-13 18:32] jlopp commented on #1044
Following up on this because I'm trying to sign a testnet transaction with a Model T on the recent 2.3.2 firmware release. I do receive a warning on device: "Path m/49/1/9/0/5 is unknown. Are you sure?" and then I confirm the output addresses on the transaction and don't see any errors on device. However, it looks like trezorconnect is still returning a "Forbidden key path" error.

[2020-08-14 09:41] matejcik commented on #1044
@jlopp turns out there is a bug in the fix for this: the allowed paths are `m/49/0'/*` and `m/49/1'/*`.
The reason this is succeeding for you is most likely because you have the safety-checks feature enabled.

reopening to make sure this gets fixed properly as part of #1137

[2020-08-14 12:39] andrewkozlik opened #1183 "CI test dependencies"
It might be useful to configure the CI dependencies so that the core tests won't wait for the legacy build to succeed and vice versa. It's not a big deal, but it would be convenient when you make changes in something like storage or crypto, which break the legacy and core builds. After fixing one of the builds you might want to run the test suite, before starting work on fixing the other build. Le

[2020-08-14 12:53] matejcik commented on #1183
for reference: https://docs.gitlab.com/ee/ci/yaml/#needs should be available to us

[2020-08-14 21:10] prusnak commented on #1183
Yes, I agree that using a DAG using `needs` much better suits our needs.

[2020-08-15 02:29] yura-pakhuchiy opened #1186 "Implement SD card protection analugue for T1"
SD card protection is a great measure against physical seed extraction on TT. Unfortunately there is no SD card on T1. I propose to implement similar feature on T1, but user have to submit secret via trezorctl or copy-n-paste it to a web interface. The secret can be stored in a standard location and python-trezor and/or trezor-bridge will automatically submit it to the device. Or user can move it

[2020-08-15 07:22] bosomt commented on #1109
- wallet **OK**
- suite **OK**
- Electrum 4.0.2 **OK**
- Exodus **not tested yet** , they don't have custom fees so I need to sync with rest our team so we wont spend 20$ to test one opp ;)

more details on ontestpad

[2020-08-15 07:59] andrewkozlik commented on #1109
Strange, why are you @bosomt and @tsusanka getting different behavior for Wallet? Best to double-check you have the right firmware, it should be d065c5d. There is also a chance that wallets might behave differently for segwit accounts and for legacy accounts.

[2020-08-15 11:43] deadalnix opened #1187 "Trezor now rejects "invalid" derivation path for BCH wallets"
**Describe the bug**
BCH wallet created with nonstandard - but nevertheless common in practice - derivation path do not function properly on trezor anymore. For instance, electron cash uses 0/45'/0 as a default derivation path for multisig.

**Firmware version and revision**
Latest.

**To Reproduce**
Create a multisig wallet on electron cash, or use an existing one created with default parameters.

[2020-08-15 15:19] prusnak commented on #1187
This is an Electron-Cash bug which caused people to store their coins on invalid paths - see https://github.com/Electron-Cash/Electron-Cash/issues/1963

If you need to transact before the issue is fixed in Electron-Cash you can downgrade the firmware.

[2020-08-15 15:19] #1187 closed

[2020-08-15 15:30] deadalnix commented on #1187
Hi @prusnak ,

With all due respect, people have real money in these wallets. Downgrading the firmware is a nice temporary solution, but not a sustainable one.

[2020-08-15 15:41] prusnak opened #1188 "Allow spending coins from invalid paths if the chain offers strong replay protection."
Some wallets such as Electrum fork for BCH store coins on Bitcoin paths (e.g. https://github.com/trezor/trezor-firmware/issues/1187). This would be unacceptable if the coin didn't have strong replay protections, but since BCH chain has one in place, we could allow spending BCH coins stored on Bitcoin paths without any security problem.

[2020-08-15 15:41] prusnak commented on #1187
We'll address this in https://github.com/trezor/trezor-firmware/issues/1188

[2020-08-15 15:50] deadalnix commented on #1187
Fantastic. Thanks.

[2020-08-15 18:56] bosomt commented on #1109
get features says:     revision: 7 bytes b'd065c5d',

BUT

first i was not able to load wallet at all
crashed during loading with this error:

![image](https://user-images.githubusercontent.com/31506317/90319579-bf125100-df39-11ea-877f-653da0ef3e8c.png)

[2020-08-15 22:10] prusnak commented on #1188
@deadalnix It would help me tremendously if you could send a small amount of BCH to `bitcoincash:qqj22md58nm09vpwsw82fyletkxkq36zxyxh322pru` so I could create an unit test for this case.

[2020-08-15 22:52] deadalnix commented on #1188
Done.

Le dim. 16 août 2020 à 00:11, Pavol Rusnak <notifications@github.com> a
écrit :

[2020-08-16 13:30] tsusanka commented on #1051
Btw we are using our forked micropython. So @prusnak should @mmilata file the PR into trezor/micropython as well and we merge it there?

[2020-08-16 14:33] tsusanka commented on #1109
@bosomt I have indeed tested a non-segwit inputs. Please test against Wallet again once with Segwit input and once with an old non-Segwit.

[2020-08-16 14:46] tsusanka commented on #1044
@matejcik haven't you meant to link to #1184?

[2020-08-16 14:53] tsusanka commented on #1044
PR in #1190.

[2020-08-16 18:19] bosomt commented on #1109
@tsusanka

I'm sorry but all out legacy accounts are empty :(
can you we test it via testnet ? or can you arrange some inputs for us  ? :)

[2020-08-16 19:44] andrewkozlik commented on #1109
Testnet should be fine.

[2020-08-17 05:45] bosomt commented on #1109
yes it fails with legacy coins

wallet:
**Failed to send transaction
Error details: Missing amount field.**

i will test rest of wallets

[2020-08-17 06:53] prusnak commented on #1051
Yes, @mmilata send PR against https://github.com/trezor/micropython - `trezor-v1.12` branch. Once merged here, we'll update the https://github.com/trezor/trezor-firmware/pull/1185 to use this updated branch.

[2020-08-17 07:00] bosomt commented on #1109
legacy:

Wallet: **NO OK**
Suite **OK** commit https://github.com/trezor/trezor-suite/commit/5e63937356f4dc5c806560e74f6c926ec156f840 https://tbtc1.trezor.io/tx/0b3ab259dbbc69a75a3a20269deb1778c1ab63f427928c4624fadb04c244eac4
Electrum **in progress**
Exodus: **NA** no testnet or legacy inputs
Mycellium **NA** no testnet support or legacy inputs

[2020-08-17 09:23] sorooris commented on #568
any updates on this?

[2020-08-17 11:50] tsusanka commented on #568
I guess it is up to @prusnak to decide _when_ we want to release the next bootloader. But my guess is we will release when there are more changes to it.

[2020-08-17 13:58] tsusanka opened #1191 "Introduce fee thresholds for altcoins"
Follow up of #1087 where we have realized we do not have fee threshold checks for altcoins. Let's add both soft and hard limit for all supported coins. Product suggests 10x for an average fee cost for the soft limit and 100x for the hard limit. Let's discuss this in Triage though.

[2020-08-17 14:05] tsusanka opened #1192 "Increase coins fee_thresholds"
As a follow-up of #1087 @mmilata made a great research with current fee threshold values of Bitcoin-like coins.

For some of the bitcoin-based coins, the threshold for 250B transaction is following:

| Coin | `maxfee_kb` | `fee_threshold`        | USD rate | `fee_threshold` (USD) | hard limit (USD)         |
| :--- | ----------: | ---------------------: | -------: | --------------------: | -------

[2020-08-17 14:13] tsusanka commented on #1087
Closed by #1155 with two follow-up issues #1191 and #1192.

[2020-08-17 14:14] tsusanka commented on #1087
### QA

Please test BTC transaction signing, it should not be affected.

[2020-08-17 14:17] tsusanka opened #1193 "Add 'safety-checks' to Features"
As requested by Product. We would like to show some warning in Suite that this might be dangerous.

[2020-08-17 18:31] tsusanka commented on #1142
I was unable to reproduce this anymore. Let's finish #946 first and see how that goes in CI.

[2020-08-17 18:31] #1142 closed

[2020-08-17 19:03] tsusanka commented on #1183
Great! Replacing `dependencies` with `needs` seem to work just like that :scream:. See this [job](https://gitlab.com/satoshilabs/trezor/trezor-firmware/-/pipelines/178865122/dag). I will check tomorrow if this does not break anything else and will merge then.

[2020-08-17 19:15] tsusanka commented on #1183
Btw if we decide to use this it means that if one job fails the other will continue in case they need not depend on it using `need`. So for example if `style` fails the rest of it still [runs](https://gitlab.com/satoshilabs/trezor/trezor-firmware/-/pipelines/178869273). But I think that is a feature not a bug?

[2020-08-18 05:29] tsusanka opened #1194 "Unify artifacts file names"
Some artifacts are correctly named `trezor-emu-[version]-[revision]` but some are not, such as in `legacy emu regular build` where it stays as `trezor.elf`. Let's go through the artifacts and clean it up.

[2020-08-18 05:45] tsusanka commented on #1167
**Product stance:** yes, product agrees with this feature as low priority. Since this requires storage upgrade though and therefore disables downgrading we suggest not to include this in the two upcoming releases (neither 2020-09 nor 2020-10). There were number of bugs/features in the last FWs where the users had to downgrade for some reasons (derivation paths, Zcash). So we would like to merge th

[2020-08-18 07:58] tsusanka opened #1196 "Setting homescreen using trezorctl fails"
**Describe the bug**
Setting homescreen using trezorctl fails.

**Firmware version and revision**
FW: 1.9.2
Trezorctl: master (927ee08)

**Desktop/smartphone setup (please complete the following information):**
 - Wallet software: trezorctl
 - OS: NixOS

**To Reproduce**
Steps to reproduce the behavior:
1. `trezorctl set homescreen -f [PATH]`
2. See error: `Error: Invalid value for '-f' / '--filen

[2020-08-18 07:59] andrewkozlik commented on #1167
Presumably the next firmware release will have those bugs fixed, so I don't see that as a reason to wait. As for people sending their BTC to LTC addresses, that won't be fixed by waiting either. I think what needs to be done as a priority is to add the unsafe-prompts setting to the Wallet + Suite, so that it can be used even by less technical users, or to enable unsafe prompts (perhaps with one mo

[2020-08-18 08:17] andrewkozlik commented on #1167
@HeroHann of course you are allowed to comment. For the record, the security advantage here is rather small. We maintain that the right solution is to use a strong passphrase, because that protects both your Trezor **and** your paper backup, whereas the PIN only protects your Trezor. That being said, a longer PIN has the advantage of providing stronger protection of FIDO2/U2F credentials, which ca

[2020-08-18 08:29] andrewkozlik commented on #1133
Another idea for the possible settings. It would be nice to have an "enable temporarily" option. This would enable unsafe prompts until the next reboot, i.e. it wouldn't be written to storage. The typical use-case for this would be when a user has BTC sent to a LTC address and just needs to do a one-off fix. So it decreases the number of steps that the support team needs to instruct the user to do

[2020-08-18 09:49] matejcik commented on #1196
looks like a Click bug
as a quick fix reverting https://github.com/trezor/trezor-firmware/commit/2678e64a9923e56345054daf6eb87ba17b9d3169 should help, i'll look into it in more detail when i get back

[2020-08-18 11:10] tsusanka opened #1198 "Fix upgrade tests for debian systems"
Upgrade tests should be runnable also on non-NixOS systems. Adding `patchelf --set-interpreter /lib64/ld-linux-​x86-64.so.2
` to `download_emulators` for Debian systems should work just fine.

[2020-08-18 11:45] #1159 closed

[2020-08-18 12:03] tsusanka commented on #1156
@bosomt @wendys-cats ping. Were you able to reproduce this?

[2020-08-18 13:38] mmilata commented on #1196
Ran into this today as well, here's possible fix: #1199.

[2020-08-18 14:55] #1183 closed

[2020-08-18 15:35] sorooris commented on #1109
Results:
**2.3.2** revision d065c5df

- Wallet (MyTrezor, public): **OK**
- Suite (beta): **OK**
- Electrum (4.0.2): **OK**
- Exodus (20.1.30): blocked by tx fee and most of the funds on the second account which the app does not read.
- Mycelium: had no Android device available.

Detailed test report available [here](https://satoshilabs.ontestpad.com/script/178/report/?auth=98683e5dbea2c3df7808d2a

[2020-08-18 15:52] tsusanka commented on #1109
@sorooris please investigate why you and @bosomt have different results for "send legacy BTC tx".

[2020-08-18 16:56] andrewkozlik commented on #1186
That's looks like a very neat idea, however here are some of my thoughts:
1. From a usability perspective makes sense on T1, because T1 already needs to be connected Wallet/trezorctl to enter the PIN.
2. Seems relatively easy to implement in T1 firmware, just reuse the salt parameter in storage.
3. Makes less sense on TT:
    - There is already the SD card.
    - We are aiming to make the device l

[2020-08-18 17:21] andrewkozlik commented on #1109
There is probably a mixup in what you guys are testing. When I mentioned segwit accounts and legacy accounts, I meant these to be the source accounts, from which you are sending the transaction. The destination account type shouldn't influence the behavior.

@sorooris, @tsusanka noticed that the transaction for Wallet send legacy BTC tx and Suite send legacy BTC tx the transaction is the same (htt

[2020-08-18 17:38] andrewkozlik commented on #1109
So I looked at your transations:

@sorooris
1. Wallet: both transactions look like they are from a segwit account. However, see mixup mentioned above.
2. Suite: again both look like they are from a segwit account (one native, the other P2WPKH in P2SH). However, see mixup mentioned above.
3. Electrum: looks good.

@bosomt
1. Wallet segwit tx: looks good.
2. Suite: both transactions look like they a

[2020-08-18 19:05] bosomt commented on #1156
i'm sorry but my monero 0.16.0.2 doesn't work even when device is unlocked
so please wait till it try to reproduce it in Linux or Windows and not in nixos

2020-08-18 18:58:25.708	I Failed to invoke http request to  /json_rpc
2020-08-18 18:58:25.708	E Failed to connect to daemon
2020-08-18 18:58:25.710	I Failed to invoke http request to  /json_rpc
2020-08-18 18:58:25.710	E Failed to connect to dae

[2020-08-18 19:08] #1051 closed

[2020-08-19 09:35] andrewkozlik commented on #1109
So I did a little digging in the wallet code and it looks to me like a one-liner will get this working, but I need someone to compile and test it: I found that `buildTx()` in `hd-wallet` allows you to build a transaction without input amounts by specifying `inputAmounts=False`. I don't understand why anyone would want to do that, but I guess we can keep that code. The place to fix it IMHO is to se

[2020-08-19 12:27] #1044 closed

[2020-08-19 12:34] tsusanka commented on #1044
#1190 will fix it for Casa. @matejcik let me know if you would like to keep this opened.

[2020-08-19 13:06] yura-pakhuchiy commented on #1186
@andrewkozlik thank you for the detailed answer! Regarding passphrase and multisig, I agree that they provide similar security, but they have following drawbacks:
1. User have to backup passphrase and/or additional seed for multisig. The funds will be lost if they fail to do it. But for sd-card like protection backup is not required and funds can be restored with original seed only.
2. User have t

[2020-08-19 13:37] andrewkozlik commented on #1109
I created a pull request https://github.com/satoshilabs/mytrezor/pull/949.

[2020-08-19 14:02] AlexITC opened #1203 "Question: Enabling extra_data for Stakenet"
At Stakenet, we are doing a hardfork to get the latest Dash features for handling masternodes, which ends up supporting [DIP-0002](https://github.com/dashpay/dips/blob/master/dip-0002.md).

Before doing that, we are interested to know if it's possible to get the `extra_data` config enabled for Stakenet, from what I see there are two places to enabled this ([first](https://github.com/trezor/trezor-

[2020-08-19 16:32] tsusanka opened #1206 "Don't show wrong address path warning when show_display is False in get_address"
In Legacy we do not show warning on Trezor if an address and path mismatch occurs and the check on display is not required.

For `trezorctl get-address -c Bcash -t address -n "m/44'/0'/0'/0/0" -d` you get the warning but for `trezorctl get-address -c Bcash -t address -n "m/44'/0'/0'/0/0"` you do not (notice the `-d` is missing).

I think the warning should still be present, shouldn't it? Because t

[2020-08-20 10:47] wendys-cats commented on #1156
@tsusanka on Monero GUI 0.16.0.2 on Windows 10 wallet creation consistently results in "Device conncet failed" for me. Will also try newer version (0.16.0.3) and let you know.

[2020-08-20 11:25] sorooris commented on #1109
@andrewkozlik Thank you so much for looking into the details; I re-ran the test for the legacy to legacy transaction in production Wallet and the issue is indeed present but just in case I'll re-run the tests again for both native and p2wpk-in-p2sh in other apps as per the Slack thread.

**Test NOK**
Wallet: [production](https://github.com/satoshilabs/mytrezor/commits/ec6b4d36cbae2ec1c3f479eb3c189

[2020-08-20 12:56] ph4r05 commented on #1156
Interesting, according to the logs from @bosomt it looks that Trezor support is not compiled in.

[2020-08-20 14:06] AlexITC commented on #1203
There was no answer about this, we are interested to know:
- Would you be willing you merge this 2 lines change?
- If you are, in which release date do you think it can be included?

Thanks.

[2020-08-20 15:06] prusnak commented on #1203
If you send a PR today, the change might get released on 2nd of September.

[2020-08-20 16:12] andrewkozlik opened #1207 "Initializing base classes"
As someone who is coming from C++ I would like to see us calling `super().__init__()` every time we define an initializer in a derived class to ensure proper initialization of the parent's variables. See https://github.com/trezor/trezor-firmware/pull/1180 for a concrete example where this would make sense in my opinion. To me it seems counterintuitive not to initialize the parent by default, but m

[2020-08-20 16:19] AlexITC commented on #1203
PR submitted (#1208), thanks!

[2020-08-20 16:19] #1203 closed

[2020-08-20 18:25] bosomt commented on #1156
after uninstall of 0.16.0.2 install of 0.16.0.0 version  it's working again.

probably id depends if it's in LOCKED or NOT CONNECTED lock state.

when i try to open wallet and device is only autlocked i will get correct PIn unlock dialogue

![image](https://user-images.githubusercontent.com/31506317/90810187-e181e100-e322-11ea-9b53-07fa2987898a.png)

same result when trying to create wallet

![ima

[2020-08-21 07:32] wo01 opened #1211 "Missmatch of prevtx TxID for Zcashlike coins"
Trezor One calculates wrong txid value of prevtx.
You must be source code like below.
In any case,  you should not check prevtx txid.
Because it cannot calculate correct txid if prevtx includes shielded tx.

`
--- a/legacy/firmware/transaction.c
+++ b/legacy/firmware/transaction.c
@@ -704,8 +704,13 @@ uint32_t tx_serialize_footer_hash(TxStruct *tx) {
   hasher_Update(&(tx->hasher), (const uint8_t

[2020-08-21 08:49] prusnak opened #1212 "U2F hash cuf-off in some cases"
![](https://preview.redd.it/ep9knb6ldbi51.jpg?width=640&crop=smart&auto=webp&s=0b1eccd9a42e622aaaa39aa4e3a4a3d9869aebf3)

[2020-08-21 08:57] My1 commented on #1212
quickest fix I can imagine would be moving the has down a line and then you can start more to the left

[2020-08-21 09:06] My1 opened #1213 "U2F: Proper error Message for trying to register where already done."
**Describe the bug**
If trying to login somewhere where the T1 was not registered, the Trezor rightfully says that another U2F device was used to register for that. however when trying to register where you have already done so, it asks to authenticate, which is weird to say the least.

**Firmware version and revision**
Version is 1.9.2, no idea where the revision is written.

**Desktop/smartphone

[2020-08-21 16:17] Freeland90 opened #1214 ""failed to compile output" When signing via Trezor with Electrum mulisig."
Hello,
I'm using Multisig with two hardware wallets, one of which is Trezor. When signing a transaction, the first wallets signs successfully but Trezor shows the amount and requires the Tx to be confirmed from the device, after that I get this error:  failed to compile output". I use Model One on Mac.

Logs:

[code]

[2020-08-21 18:54] #1214 closed, assigned to nobody

[2020-08-21 19:59] tsusanka opened #1215 "Redesign pagination for TT"
We want to limit the number of dots on the right side to three. If more than three items are included in the pagination a small arrow will appear. The following screens show a case where there are eight pages:

![Screenshot_2020-07-23 Zeplin - Projects](https://user-images.githubusercontent.com/1835345/88266208-17558a80-cccf-11ea-824c-fc435f1f7609.png) ![Screenshot_2020-07-23 Zeplin - Projects(1)]

[2020-08-23 17:35] mmilata commented on #1192
@tsusanka sure

[2020-08-24 08:16] bosomt commented on #1118
**QA OK**

now it says

`tomas@tomas:~]$ trezorctl set-homescreen -f ./Downloads/bad-noise.toif
Error: DataError: Invalid homescreen
`

[2020-08-24 08:50] prusnak commented on #1192
I am OK with changing the fees for altcoins. Don't change the fee values for Bitcoin.

[2020-08-24 09:27] matejcik commented on #1186
related (solutions would be similar): #32

[2020-08-24 09:54] dsprenkels commented on #1151
Note: We should also fix the bitslice part of this at:

https://github.com/dsprenkels/sss/blob/b3ac4e75d44f68693aba9f938382018527b1a223/hazmat.c#L43

[2020-08-24 12:25] #1151 closed

[2020-08-24 13:01] matejcik commented on #1154
We currently don't know how this would work internally. Updated issue name to reflect that the current step is research.

[2020-08-24 13:24] andrewkozlik opened #1220 "Add "unstable" tag to protobuf definitions"
When developing new features we sometimes need to introduce new protobuf messages whose format is still subject to change, e.g. `AuthorizeCoinJoin`. We should indicate to 3rd parties that those messages are under development by adding a tag such as "unstable", "beta" or "experimental", so that they can experiment with the feature, but be alerted not to rely on the current message format. Let's int

[2020-08-24 14:27] sorooris commented on #1159
**QA OK**
Device: model T 2.3.3 e137f196, model 1 1.9.3 e137f196
Wallet: public [ec6b4d](https://github.com/satoshilabs/mytrezor/commits/ec6b4d36cbae2ec1c3f479eb3c1891090790b7c0)
Tested with BTC, LTC and ZEC; device correctly displays the coin's name in the screen header when signing (the single screen) and verifying (both screens).

[2020-08-24 15:00] tsusanka commented on #1192
@mmilata could you please add Testnet into the table? Obviously without USD columns but it would be helpful to know the threshold also for Testnet.

[2020-08-24 15:07] mmilata commented on #1192
@tsusanka added

[2020-08-24 17:05] sorooris opened #1222 "Firmware error message in Wallet after setting a white noise screen"
**Describe the bug**
A Firmware error message is displayed after setting a white noise homescreen in MyTrezor Wallet.

**Firmware version and revision**
2.3.3 e137f19

**Setup:**
 - Wallet software: MyTrezor production [commit](https://github.com/satoshilabs/mytrezor/commits/ec6b4d36cbae2ec1c3f479eb3c1891090790b7c0)
 - OS: any (tested NixOS)
 - Browser: any (tested Chromium 84.0.4147.89)

**Steps

[2020-08-24 17:10] sorooris commented on #1222
Same behavior in Suite: beta, [commit](https://github.com/trezor/trezor-suite/commit/74b74b0c70658ff4cad66541441aa7274f949308)
2.3.3 e137f19

[2020-08-24 17:48] tsusanka commented on #1192
So @sorooris if you send between 0.025 and 0.25 TESTNET fee you should get a warning, if you send over 0.25 you should get an error.

[2020-08-24 18:08] tsusanka commented on #1222
@sorooris could you append the white noise image here pls? I think we should write a test for it :)

[2020-08-24 21:55] sorooris commented on #1222
@tsusanka
![white-noise](https://user-images.githubusercontent.com/10185314/91100307-3bf1a900-e665-11ea-8ede-1f559f5117c4.png)

[2020-08-25 07:45] sorooris commented on #1132
Blocked by #1222

[2020-08-25 08:27] tsusanka commented on #1222
I have added test in b2c63b72d6dea1aa87e62fd47776a1aaddb2e97a and it indeed fails even on an emulator. @mmilata could you look into it?

[code]

[2020-08-25 08:28] matejcik commented on #1222
isn't this a duplicate of #1114 ?
can you reproduce the problem using trezorctl on a freshly plugged in TT? If not, it's a duplicate.

do other homescreens work? if yes, @tsusanka's problem is something else (mismatched trezor-core build perhaps?)

[2020-08-25 08:29] matejcik commented on #1222
also let's not add whitenoise to tests, or else mark them as xfail or something; whitenoise homescreen is currently not guaranteed to work on hardware unless it's freshly plugged in

[2020-08-25 08:34] tsusanka commented on #1222
Ah, I saw `File "apps/management/apply_settings.py", line 27, in validate_homescreen` and directly thought it was introduced by https://github.com/trezor/trezor-firmware/issues/1118. Ok @sorooris please retest what @matejcik says.

[2020-08-25 08:38] sorooris commented on #1222
@matejcik please could you specify what "freshly plugged in TT" is?

Using the same white noise screen file with trezorctl (`trezorctl set-homescreen -f white-noise.png`) with a reconnected 2.3.3 e137f19 returns the following:

`[seb:/home/dir]$ trezorctl set-homescreen -f white-noise.png
Traceback (most recent call last):
  File "/nix/store/pacl0pp9jnd6p706qw9a8mxkxqpx3ar8-python3.7-trezor-0.12.0

[2020-08-25 08:40] tsusanka commented on #1222
@sorooris are you in our repository inside `nix-shell`? Because this sounds like a "host" problem

[2020-08-25 08:45] matejcik commented on #1222
@sorooris "freshly plugged" is you unplug, then replug, then do the thing without doing anything else with the device.

please also try setting the whitenoise homescreen as first thing through wallet. @bosomt was successful with that last time

[2020-08-25 08:47] #1220 closed

[2020-08-25 08:51] prusnak commented on #1222
@seb `No module named 'PIL' ` => your installation is missing python-pillow package; i guess we need to fix that in the nix package

@tsusanka `AttributeError: 'Display' object has no attribute 'toif_info'` => it seems you forgot to rebuild the emulator

[2020-08-25 08:58] prusnak opened #1224 "Pillow missing from requirements.txt"
python-trezor imports `PIL` in several files (e.g. `python/src/trezorlib/cli/settings.py`, `python/src/trezorlib/_internal/toif.py`) but the dependency `Pillow` is missing from `requirements.txt`

or should it rather belong to `requirements-optional.txt` ?

[2020-08-25 08:59] matejcik commented on #1222
Ah, also trezorctl doesn't support png files for TT.

we have code that enables it, but it's currently internal ... i'm a little reluctant to move it to the main package, but perhaps we could?

[2020-08-25 09:02] tsusanka commented on #1222
Confirming the test I have written has passed after I have rebuilt _core_. Apologies :roll_eyes:.

[2020-08-25 10:09] sorooris commented on #1222
@matejcik Thanks for clearing that up:
using the _bad-noise.toif_ file with `trezorctl set-homescreen -f bad-noise.toif` command works and returns the correct error [message](https://github.com/trezor/trezor-firmware/issues/1118#issuecomment-678980669). However, I'm unable to verify in Wallet/Suite since .toif files are not allowed there.

[2020-08-25 10:12] matejcik commented on #1222
please try with "good" noise.toif too. If that succeeds from trezorctl on a freshly-plugged TT, we can close the issue as a duplicate of #1114

[2020-08-25 11:13] matejcik commented on #1224
it's optional so it should be in requirements-optional.txt
but then there is no straightforward way for users to install it.

if it isn't present in the pipenv or nixshell, that should probably be solved there, right?

[2020-08-25 11:31] prusnak commented on #1224
Right. It is already present in Pipfile/pyproject.toml, so this was just a formality (so packagers for other distributions looking into `requirements.txt` do not miss this dependency.

[2020-08-25 12:18] sorooris commented on #1222
QA OK
The "good" white noise (white-noise.toif from Slack) is set seamlessly via trezorctl; let's close it as a duplicate of the #1114 issue.

[2020-08-25 12:27] matejcik commented on #1222
thanks! closing

[2020-08-25 12:27] #1222 closed

[2020-08-25 12:35] #1224 closed

[2020-08-25 15:06] bosomt commented on #1087
maximum fee in suite is 2000 sat/b
i will check for another ways to test hard limit

[2020-08-25 16:05] #1192 closed

[2020-08-26 08:48] My1 opened #1226 "Nano Support"
**Describe the solution you'd like**
Support the Cryptocurrency nano

**Describe alternatives you've considered**
The Ledger devices support nano but are not open Source. The Keepkey (which forked T1, so maybe you could even get some code from there) also supports Nano but only on the firmware wallet with no companion currently available to support it due to missing library support.

**Additional

[2020-08-26 08:50] matejcik commented on #1226
We are currently only adding coins that are in the Top 30 by market cap, Nano is at n. 77.
If it gets to Top 30, and someone wants to contribute a PR implementing the support, we'll be happy to consider it for inclusion.

[2020-08-26 08:50] #1226 closed

[2020-08-26 09:13] My1 commented on #1226
frankly kinda sad especially considering the trezor supports already almost 1200 assets already.

[2020-08-26 11:56] bosomt commented on #1159
**QA OK**

model T revision: df5421e
wallet ec6b4d36cbae2ec1c3f479eb3c1891090790b7c0
tested with BTC,DOGE,ETH,VTC

[2020-08-26 12:15] sorooris commented on #1159
**QA NOK**
Device: model 1 1.9.3 e137f196, df5421e7
Wallet: public [ec6b4d](https://github.com/satoshilabs/mytrezor/commits/ec6b4d36cbae2ec1c3f479eb3c1891090790b7c0)
Missing coin name in model 1.

![image](https://user-images.githubusercontent.com/10185314/91302129-48c9e600-e7a6-11ea-91b2-c3b0ed31614e.png)

[2020-08-26 12:21] tsusanka commented on #1159
I am suggesting not to do this and solve by _Port_.

[2020-08-27 07:45] tsusanka opened #1229 "Clean up emulator builds on firmware.corp.sldev.cz"
Let's:

- [x] Move firmware.corp.sldev.cz/upgrade_tests to firmware.corp.sldev.cz/releases/emulators and fix the URL in upgrade tests. This way it will be clear the emulators may be used for other things.
- [ ] <s>Add `run.sh` that will solve the Nix incompatibilites (TBD) and requiring `-m main` for the older versions. Use that script in upgrade tests.</s>
- [x] Replace `upgrade tests` CI jobs wi

[2020-08-27 09:40] tsusanka opened #1230 "Add signing performance test accross different versions"
Now that we older emulator versions on firmware.corp.sldev.cz we might write a test that will measure BTC signing for ~10 inputs/outputs and measure whether the performance did not degrade. Of course we would have to deal with the Segwit streaming somehow, so maybe just run it for latest few versions or come up with a threshold.

What do you think?

[2020-08-27 10:32] sorooris commented on #1118
**QA OK**

device: model T 2.3.3 df5421e
trezorctl 0.12.1
![image](https://user-images.githubusercontent.com/10185314/91431906-4d070980-e861-11ea-869e-812e8f1e8c41.png)

[2020-08-27 11:44] massto commented on #1044
54ed8d604fff6d2e8e88e9bc9a201e0ceee37460

[2020-08-27 14:13] tsusanka opened #1231 "Should Cardano usage emit a new session id?"
An example from @szymonlesisz:

1. I am using BTC:
[code]

2. I switch to Cardano:
[code]

@szymonlesisz was quite surprised the session id has not changed because under the `session_id="ABCD"` - we currently have two passphrases (one for BTC, one for Cardano).

Should we:
1. Create a new session anytime Cardano is used for the first time. In another words we would need to track whether the sessio

[2020-08-27 14:25] matejcik commented on #1231
we could go for a hybrid of (1) and (2):
- whenever Cardano key is requested, and the session is clean, derive both the normal seed and the Cardano seed
- if the normal seed is already derived but Cardano seed isn't, raise "invalid session", let the caller `Initialize` again and request a Cardano key as the first thing.
Suite can use `CardanoGetPublicKey` upon initialization to deliberately trigge

[2020-08-27 15:57] prusnak opened #1232 "python-trezor: missing attrs from requirements.txt/setup.py"
running `trezorctl` from 0.12.2 release:

[code]

can we add `attrs` to `requirements.txt`/`setup.py`?

Even better - can we have some check for this so we never miss adding a new dependency in the future?

---

## WORKAROUND

install `attrs` the same way you installed `trezor`.

e.g., in your terminal:
[code]

[2020-08-27 17:35] prusnak commented on #1232
It seems there is a flake plugin for this: https://pypi.org/project/flake8-requirements/

[2020-08-28 07:44] bosomt commented on #1087
**QA OK**

tested 2.3.3, no warning in older FW
@tsusanka is this feature core specific or is this legacy T1 included ?

FW version 2.3.3 df5421e
Wallet Git Commit: ec6b4d36cbae2ec1c3f479eb3c1891090790b7c0

wallet log :

["log","Fri, 28 Aug 2020 07:40:33 GMT","[trezor.js] [call] Sending","ButtonAck",{}]
["log","Fri, 28 Aug 2020 07:40:37 GMT","[trezor.js] [call] Received","Failure",{"code":"Failure

[2020-08-28 07:52] matejcik commented on #1232
this particular thing should have been found by `tox`, i'll need to investigate why that didn't happen

[2020-08-28 07:52] tsusanka commented on #1087
TT only for now. We will introduce it to T1 via _Port_.

[2020-08-28 07:54] prusnak commented on #1191
This has been fixed via https://github.com/trezor/trezor-firmware/commit/f51fac34109db730d5de0fc66af4fdc83ca09c32 right?

[2020-08-28 07:55] tsusanka commented on #1191
No. In here I meant altcoins that are not Bitcoin-based (ETH, NEM, XRP etc.). Let me rephrase the issue.

[2020-08-28 08:05] bosomt commented on #1087
tried Fee: $211.06

![image](https://user-images.githubusercontent.com/31506317/91537002-e55ec600-e915-11ea-983c-904a70388e02.png)
![image](https://user-images.githubusercontent.com/31506317/91537030-edb70100-e915-11ea-8608-b09489fd473d.png)

[2020-08-28 08:20] tsusanka commented on #4
This bundles the bootloader.dat file. That is the bootloader latest 1.8.0 version right? Could we build a new version 1.8.1 from master and include that one? It includes some new features such us the soft-reset so we should update to the latest IMHO. Is there any reason not to?

[2020-08-28 09:20] bosomt commented on #1087
test results for Electrum 4.0.2:
1) treshold: same results, warning on device and in Electrum
2) hard limit:

![image](https://user-images.githubusercontent.com/31506317/91544661-51dec280-e920-11ea-943d-9efa368ecc3e.png)

maybe we will need fix for Electrum to properly handle FW error returned by device when you hit hard limit ? @matejcik

[2020-08-28 09:38] tsusanka commented on #1087
This is a huge edge case let's not worry about that. (Unless this happens for every wire.DataErorr then it might be worth the fix.)

[2020-08-28 10:51] #1198 closed

[2020-08-28 10:51] tsusanka commented on #1198
Closed by c7b6d98.

[2020-08-28 10:55] matejcik commented on #1232
ok, this is fun: `attrs` is a dependency of several things in the dev environment, and tox is testing inside that.

[2020-08-28 13:37] #912 closed

[2020-08-29 09:47] pradysp commented on #1232
Hello is there a workaround for this bug ? I cant even run the basic '**trezorctl**' command now.

[2020-08-29 10:41] prusnak commented on #1232
@pradysp which distro are you using?

[2020-08-29 11:02] pradysp commented on #1232
@prusnak Using Anaconda distribution of python version 3.6, trezor 0.12.2 release

[2020-08-29 11:19] prusnak commented on #1232
@pradysp install the `attrs` package into your environment

[2020-08-29 12:06] pradysp commented on #1232
@

That fixed it. Thanks

[2020-08-31 09:52] hiviah commented on #4
It's the exactly same version that is used for normal firmware (it's a symlink). So it's either 1.8.0 or 1.8.1.

[2020-08-31 10:02] tsusanka commented on #1109
**Product stance:** Just for the record the Product agrees with it. Slush even mentioned this is how it used to be in the past.

[2020-08-31 10:57] bosomt commented on #1132
just sent this TEST 10k size + transaction + whitenoise background with 2.3.3 rev df5421e
https://tbtc1.trezor.io/tx/2150d8402380cca111f59c01d053023df7697d8e749729efc64425601fc7331b

@tsusanka @matejcik is that enough ? /+ is this model T specific ? /

[2020-08-31 11:00] matejcik commented on #1132
yes and yes

[2020-08-31 11:06] mmilata commented on #35
Got a few questions:

What would be the compatibility guarantees of `type` and `content`? Would wallets need to consider their values only as a hint that they should not rely on?

Since this will be used internally by the firmware apps is there a way to make it hard to include secret information in `content`, such as mnemonic words or PIN matrix?

Would it make sense for `type` to be just another

[2020-08-31 11:56] matejcik commented on #35
I'd consider them as parallel to the UI itself; for minor layout changes these would stay the same, for restructuring these would change.

As for `type`, ISTM the hardest question is coming up with a naming scheme that's as predictable as possible, so that an UI reflow doesn't break simply on rewords. OTOH perhaps `type` should consistently describe `content`?

That doesn't seem useful? `type` is

[2020-08-31 12:30] tsusanka commented on #1193
Needs #1133

[2020-08-31 12:35] tsusanka commented on #1206
We have concluded this does not pose any risks since nothing is displayed on Trezor. Let's investigate if this happens on Core as well and then considering closing this.

[2020-08-31 12:36] tsusanka commented on #1207
Let's see if flake or similar can check this. Related to #132.

[2020-09-01 08:50] matejcik opened #1237 "make protobuf enums public"
several times now we needed access to the `protobuf.EnumType` object (usually to convert the value to and from a string), and for type hints we often use `EnumType<Something>`

trouble is, `EnumTypeSomething` is only accessible from `ProtobufTypeWhereEnumIsUsed` but not from the `Something` itself.

even worse, the `protobuf.EnumType` instance is only accessible from _the field definition_ where i

[2020-09-01 14:14] #1007 closed

[2020-09-01 21:50] sorooris commented on #1192
**QA OK**
2.3.3 df5421e7
Suite [3095a174f258c0226faf2ebcbdda3d8b7f04686f](https://github.com/trezor/trezor-suite/commits/3095a174f258c0226faf2ebcbdda3d8b7f04686f)
![image](https://user-images.githubusercontent.com/10185314/91907367-058ddc80-ecaa-11ea-97a0-4b1c53a5907b.png)
![image](https://user-images.githubusercontent.com/10185314/91909214-12f89600-ecad-11ea-993f-5b30a226c146.png)
0.18400039 TEST

[2020-09-01 21:56] sorooris commented on #1132
**QA OK**
Device: 2.3.3 df5421e + white noise homescreen
Suite [3095a174f258c0226faf2ebcbdda3d8b7f04686f](https://github.com/trezor/trezor-suite/commits/3095a174f258c0226faf2ebcbdda3d8b7f04686f)

[2020-09-02 11:35] matejcik opened #1241 "update usage of safety_checks in core code"
this got lost somewhere between #1126 and #1133

`core` code is still using "unsafe_prompts" storage field and matching getters. this should be updated to match the new "safety checks" wording and use protobuf-compatible constants

[2020-09-02 11:42] tsusanka commented on #1133
Let's agree on this. I like both comments how about we have three stages then: strict, prompt and temporary.

- `strict` is the default setting and does not allow anything
- `prompt` prompts on every such action
- `temp` prompts on every such action but changes to strict on reboot

Wording suggestions:

strict:
[code]

prompt:
[code]

temp:
[code]

The third might be too long and I don't like "unc

[2020-09-02 11:48] mmilata commented on #1133
Unusual?

Also not sure about "reboot", might sound like you have to reboot your computer:) Not sure if "unplugging your Trezor" fits on the screen.

[2020-09-02 12:47] tsusanka commented on #35
[code]

[2020-09-02 12:52] andrewkozlik commented on #1133
I would try to be more succinct:
`Trezor will let you approve some actions which might be unsafe.`
or
`Trezor will allow you to approve some actions which might be dangerous.`

[2020-09-02 13:33] matejcik commented on #35
I think the type should be defined not by the selected coin but by the implementing code.
This is implemented by the Bitcoin app so the `type` will be `bitcoin_confirm_output` and `bitcoin_confirm_tx`

[2020-09-02 15:12] andrewkozlik commented on #1133
This fits nicely: `Trezor will allow you to approve some actions which might be unsafe.`
But I am still not satisfied. I would like it to say something like "Do you wish to set safety checks to 'Prompt'?" and then the explanation.
![image](https://user-images.githubusercontent.com/42678794/92001657-3c620200-ed3f-11ea-8ab9-f785220190c0.png)

[2020-09-02 15:14] andrewkozlik commented on #1133
I don't think we need to go into details about unplugging/rebooting, because it makes the explanation too lengthy. Using the word "temporarily" should do:
![image](https://user-images.githubusercontent.com/42678794/92002058-b8f4e080-ed3f-11ea-8e85-093f43a93d05.png)

[2020-09-02 16:10] tsusanka commented on #1133
I like @andrewkozlik's suggestions, let's go that way! @mmilata feel free to do this one as well, I think @matejcik does not have any work done here yet.

[2020-09-02 16:25] mmilata commented on #1133
:+1:

For future reference there's some discusion regarding the temporary-prompt option in https://github.com/trezor/trezor-firmware/pull/1240#issuecomment-685701950.

[2020-09-03 11:25] tsusanka commented on #749
Since the latest release we display the passphrase that's being used. Although you can still use more passphrases at the same time by using the sessions I don't think it makes sense to complicate the UI more. Closing?

[2020-09-03 13:16] tsusanka opened #1243 "Add experimental features flag"
Upon discussion about feature flags we come up with several conclusions.

1. In an ideal world we would like to remove the feature completely from the build while maintaining it in the `master` branch. We do not want to use any if and ifdefs though. We will check if there is some nice tooling for this but we are somewhat skeptical.
2. We might introduce one new setting called "experimental feature

[2020-09-03 14:30] prusnak commented on #749
Yes, closing ... I just wanted for the september update to be out there publicly.

[2020-09-03 14:30] #749 closed

[2020-09-03 14:39] andrewkozlik opened #1244 "Address and account labeling"
### Feature request

It would be nice to allow users to assign names to outgoing addresses, multisig XPUBs and to their accounts and passphrases, so that the name could be shown on the device screen and the user wouldn't have to carefully check the address or XPUB every time. This labeling should also be integrated with the account and passphrase labeling in the Suite.

For example:
- Suite sends

[2020-09-03 14:42] mmilata commented on #1243
Side note regarding turning Safety checks into bitfield: currently setting the field to `Prompt` influences not only path checks but also transaction fee hard limit (#1087). If we decide to turn the setting into a bitfield the fee limit probably deserves its own bit and we need to either:
* introduce storage upgrade which turns `Prompt` (0b00000001) to `fee_checks | path_checks` (0b00000011), or
*

[2020-09-03 14:48] prusnak commented on #1244
I would like to take this one level higher - we could have one an unified authenticated/encrypted mechanism for naming different "things", not only accounts, but also addresses, xpubs, etc. It seems like the same concept to me. To show more useful information instead of the "raw" data.

[2020-09-03 14:50] matejcik commented on #1243
I don't think we should mix the "bitfield for experimental features" thing with the safety checks thing.

In my view, Safety checks are very much user-facing, and should be as easy to understand as possible:
- if you're on Strict, you have the highest security standard. We want you to be here.
- if you're on Prompt, we let you confirm some things that we otherwise wouldn't even ask about. Be very

[2020-09-03 14:57] matejcik commented on #1244
Use of counter might be problematic with multiple passphrases: consider account #3 under passphrase A or passphrase B, and the user wants to set label in both cases.
Either the passphrases have separate label trees, in which case the update under passphrase A bumps the tree and invalidates the label under passphrase B
Or there is a common tree, in which case the passphrase info must become part of

[2020-09-03 15:03] matejcik commented on #1237
see also https://github.com/trezor/trezor-firmware/pull/1240/files/1ca4ff8e9967a9765b85c37bf21c830e78ade4d6..f33b10674ab48f552920b19e081a965efe011fcb#diff-c4876a922c4f5c83d42166249b74c6aaR49-R50 where there's the same enum used twice in a message

[2020-09-03 15:16] MichalPetro opened #1245 "Additional Cardano features"
We would like to propose to add the following functionalities for Cardano model T integration:

- Review and polish how users interact with accounts. Cardano main wallets will be adding multi-account support in order to allow partial stake delegation (each account will be delegating to a single stake pool) and we would like to improve the UX for working with accounts and also review the existing s

[2020-09-04 06:29] Starsakary opened #1247 "Add support for TRON(TRX)"
Hi. We are from TRON. TRON is a robust blockchain ecosystem with multiple kinds of products involved in TRON ecosystem, including public chain, wallet client, decentralized applications(DAPPs), Etc. We are now ranked 12th on CoinMarketCap. We very much hope that TRX and Trezor-firmware can reach cooperation.

1. This is our [official website](https://tron.network/).

2. The signature algorithm of

[2020-09-04 07:05] ph4r05 commented on #1156
@tsusanka regarding the auto-lock and the `PinEntry`, do you think the Trezor client in Monero needs some change? I would have a few minutes for this (as I recently did the CLSAG PRs).

[2020-09-04 07:08] tsusanka commented on #1244
It seems to me it is quite a lot of engineering for what we achieve by this. We will discuss it in Product (and I'll invite you if possible)

[2020-09-04 07:14] andrewkozlik commented on #1244
If it were just the account labeling, then I would agree. But labeling addresses and XPUBs would be pretty useful. Also, we don't need to use the Merkle tree solution if we think that the amount of data stored this way will be small.

[2020-09-04 07:26] tsusanka commented on #1156
@ph4r05 it depends on how Monero behaves to unknown ButtonRequestTypes. If it simply does not care and sends ButtonAck then it should not require anything. If it dies on "unkown protobuf field" or something like that then we need some modifications. cc @matejcik

[2020-09-04 07:42] prusnak commented on #1247
There is already a work in progress for Tron here: https://github.com/trezor/trezor-firmware/pull/259

Feel free to help with finishing this PR

[2020-09-04 07:42] #1247 closed

[2020-09-04 07:55] ph4r05 commented on #1156
@tsusanka I've just checked, it seems that message type for `PinEntry` is `MessageType_ButtonRequest`. Client does not care about unknown ButtonRequest codes, so if no reaction from our side is needed (besides sending the `ButtonAck`) then no modification is needed.

[2020-09-04 08:00] tsusanka commented on #1156
@bosomt could you do a final test of this? And if you find anything reproduce it into something sensible. Otherwise it is really hard to grasp what the problem could be

[2020-09-04 13:26] #1177 closed

[2020-09-05 13:56] vahidtaghiloo opened #1251 "Error building/compiling Trezor One bootloader"
I was trying to compile Trezor one bootloader and firmware on Debian Linux . The firmware was built successfully but building bootloader throws an error like this: "ERROR: Couldn't install package: markupsafe"
I recorded the terminal with asciinema and uploaded here: https://asciinema.org/a/357819
I don't know what I'm doing wrong :)

**Firmware version and revision**
legacy/blv1.8.0

[2020-09-05 14:17] prusnak commented on #1251
You can build an old tag using the new build script. Try checking out the master branch and run `./build-docker.sh legacy/bl1.8.0`

I am closing this, because this can't be fixed in an old tag anyway. But feel free to continue the discussion here.

[2020-09-05 14:17] #1251 closed

[2020-09-05 18:24] vahidtaghiloo commented on #1251
Thank you for your time. Unfortunately, building from the master branch gives exactly the same error. I wonder if something is wrong with my OS. Is there a way to download a precompiled bootloader binary for Trezor One?

https://asciinema.org/a/357988

[2020-09-05 18:51] prusnak commented on #1251
Here: https://github.com/trezor/trezor-firmware/blob/master/legacy/firmware/bootloader.dat

[2020-09-06 05:01] vahidtaghiloo commented on #1251
Thanks a lot. Any idea how to flash bootloader.dat file on microcontroller? Or how to convert .dat file to .bin/.hex?
I tried to convert it with xdd but it doesn't seem right.

[2020-09-06 09:26] prusnak commented on #1251
The file is a .bin file, just flash it at start of the flash.

[2020-09-07 09:20] andrewkozlik commented on #1109
Merged into master.

@qa Please wait for the fix satoshilabs/mytrezor#949 before testing with the Trezor web wallet. Test with T1 and TT. In addition to bitcoin, it would be good to also test zcash, decred, bcash, bgold with at least one wallet.

[2020-09-07 09:20] #1109 closed

[2020-09-09 08:43] MichalPetro commented on #1245
@tsusanka Currently, we are defining multi-account support for Cardano and we discussing batch exports of account pub keys for the account discoveries. We noticed that Trezor allows a potentially unlimited amount of pub key exports just by confirming a single prompt which is asking for confirmation to "export multiple public keys" in Trezor Connect. What is the trust model that you considered when

[2020-09-11 12:35] urza commented on #49
Hello, may I ask what is current status of PSBT support in Trezor?

I would appreciate if someone could provide overview, something like:

- Which devices support PSBT (T / One)
- What of BIP174 functionality is supported and if there are any limitations, what isn't possible.
- How can PSBT be handled from developer's perspective (integration into other software - which tools/library/methods to us

[2020-09-11 12:45] prusnak commented on #49
Right now, you can sign PSBT via [HWI](https://github.com/bitcoin-core/HWI) with both Trezor One and Model T. We will add PSBT signing via SD-card, but there are things with more priority (native hardware Coinjoin, etc.) in our list first.

[2020-09-11 13:00] matejcik commented on #49
There is no direct support of the PSBT encoding in hardware.

(I believe this issue was originally motivated by storing PSBT files on the SD card for model T, which is not done at the moment.)

Client software that can decode the PSBT format can translate it to Trezor calls, so any transaction that Trezor can sign, it can in theory do so via PSBT.

That is, you can generate a PSBT for offline sign

[2020-09-11 13:36] #4 closed

[2020-09-12 01:25] cantilope opened #1255 "Firmware 2.3.1 cannot sign arbitrary paths"
In versions 2.3.0 and prior with Electrum, it was possible to sign arbitrary paths. For example a segwit Bitcoin wallet with m/84'/9999'/0'/0/0. Since firmware 2.3.1, the trezor device returns "Forbidden key path". As a result the Trezor can no longer be used with wallets that use arbitrary paths. I am using Electrum 4.0.3 and can confirm I am able to sign a transaction with firmware 2.3.0 but not

[2020-09-12 04:34] syzygyzer opened #1256 "mismatched fingerprints for core/v2.3.3"
**Describe the bug**
Possibly related to https://github.com/trezor/trezor-firmware/issues/692

I am attempting to build the latest Trezor Model T firmware following the instructions at https://wiki.trezor.io/Developers_guide:Deterministic_firmware_build, except I checkout core/2.3.3 instead of core/2.3.0 it currently states.

I am running a fairly fresh minimal install of Debian Stable 10 on x64.

[2020-09-12 10:16] prusnak commented on #1256
We should make sure the hashes are added to the firmware header first and compute the fingerprint only after this has been done. Can you please have a look at this @mmilata? Maybe @matejcik can help with the tooling.

[2020-09-12 10:20] prusnak commented on #1255
1) always use the latest firmware (which is 2.3.3 at the moment, not 2.3.1)
2) you can turn off this safety checks via `trezorctl set safety-checks prompt` (make sure you have the latest python-trezor 0.12.2)

[2020-09-12 10:20] #1255 closed

[2020-09-14 08:14] matejcik commented on #1256
how are the final fingerprints calculated? fingerprint for core should be calculated by `headertool.py --digest`, which takes care of the missing hashes internally. Or alternately `headertool.py --rehash` should be used to insert the hashes; this usually happens in the same step as signing, as I thought that hashing without signing is kind of pointless.

[2020-09-14 08:23] matejcik commented on #1256
oooh i see, it's using the `header_digest` function from `trezorlib.firmware`
well, that's not right.

IMHO the behavior of `header_digest` is correct in ignoring the bad hash values; there is no signing capability and if you tried to upload hashless firmware, it would in fact have the digest that `header_digest` claims.

So the solution is to either use `headertool` for generating the `.fingerpri

[2020-09-14 08:49] prusnak commented on #1256
@matejcik it seems martin used the `trezorlib.firmware.digest` function because it supports both T1 and TT. I think we can use the `firmware-fingerprint.py` tool as is for T1, but use `headertool -d` for TT?

[2020-09-14 08:52] matejcik commented on #1256
yes, that's reasonable

[2020-09-14 09:12] matejcik opened #1258 "extend `trezorctl firmware` subcommand"
it would be useful to convert `trezorctl firmware-update` to `trezorctl firmware update` (keeping aliases as-is of course)

with additional subcommands:

`trezorctl firmware check FIRMWARE_FILE`
* prints info about file, same as `firmware update -n` does. Exits 0 on valid or 1 on invalid firmware.
* `--quiet` - do not print info
* `--fingerprint` - only print fingerprint
* `--remote`??? look at SL

[2020-09-14 12:43] tsusanka commented on #1230
Or maybe the whole test suite? :scream:

[2020-09-14 13:04] andrewkozlik commented on #1213
As explained [above](https://github.com/trezor/trezor-firmware/issues/1213#issuecomment-678346078), I believe there is absolutely nothing we can do in Trezor to make this behavior any better. If anybody finds otherwise, feel free to reopen this issue.

[2020-09-14 13:04] #1213 closed

[2020-09-14 13:22] tsusanka commented on #1230
Actually we have realized this is more of "one-time issue". What we actually could use is performance check against master - very similarly as to what we have for UI.

[2020-09-14 13:25] tsusanka opened #1259 "Add performance test against master"
Follow-up of #1230. We currently have UI tests which turned out quite useful. We would like to introduce a very similar concept regarding performance. We could measure how long the test takes, put into some json file and then check if the time is not higher. Some sort of regression testing.

[2020-09-14 13:26] tsusanka commented on #1230
Moved to #1259.

[2020-09-14 13:26] #1230 closed

[2020-09-14 13:29] tsusanka commented on #1229
This has some further consequences. And what is more important the release version should uniquely bind to the revision so I think this is just fine as it is.

[2020-09-14 13:29] tsusanka commented on #1229
The rest was done in https://github.com/trezor/trezor-firmware/commit/c7b6d98cfc8a4839506044159d26890125095b58

[2020-09-14 13:29] #1229 closed

[2020-09-14 13:31] prusnak commented on #1259
I got the following idea from [Casa performance testing blogpost](https://blog.keys.casa/bitcoin-multisig-hardware-signing-performance/) - maybe we can split the measurements to measure:
1) how long does it take to stream data to/from Trezor
2) how long does Trezor spend processing them

I think it might be possible to add some instrumentation to `trezorlib` to distinguish between the two.

[2020-09-14 13:33] tsusanka commented on #1206
As agreed: this is correct behavior. In Core this gets a bit more complicated as due to the Keychain. We need to skip the check for cases when the `-d` is missing. That way the check dialog won't be displayed as well and it will be in sync with T1. The only difference is that in Core this will lead to an error (because of the Keychain) which is the correct behavior anyway.

So tl;dr: we need to sk

[2020-09-14 13:57] tsusanka opened #1260 "Disable prevtx streaming on safety_checks=Prompt"
Not streaming previous transaction is dangerous as we know. However, when dealt with larger number of UTXOs the signing takes really long time. We might replace it with a warning when the safety_checks are set to Prompt.

[2020-09-14 14:57] matejcik commented on #1260
what we already discussed:

* we could simply not request previous txes when safety_checks are set to Prompt. This is not ideal; at the very least, it doesn't do what "Prompt" claims to do.
* we could _prompt_ the user before every signing. That's also not ideal, it's a different kind of prompt and it's asking the user for a decision that heavily depends on the host software.

The most promising a